<!-- <div class="page-loader-wrapper">
    <div class="loader">
    </div>
</div> -->
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />

  <!-- Bootstrap Core and vandor -->
  <style>
 


    @import url(https://fonts.googleapis.com/css?family=Roboto);

    .swal2-html-container {
      white-space: break-spaces !important;
      font-size: 15px;
    }

    .brand-name-margin-set {
      margin-left: 65px !important;
    }

    .sidebar_dark.offcanvas-active #header_top {
      background-color: #004660 !important;
    }

    .padding_left_css {
      padding: 5px 15px 5px 65px !important;
    }

    .datepicker {
      padding-left: 23px !important;
    }

    .itemDisplayNone {
      display: block;
    }

    .customer-photo {
      display: inline-block;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background-size: 32px 35px;
      background-position: center center;
      vertical-align: middle;
      line-height: 32px;
      box-shadow: inset 0 0 1px #999, inset 0 0 10px rgba(0, 0, 0, 0.2);
      margin-left: 5px;
    }

    .customer-name {
      display: inline-block;
      vertical-align: middle;
      line-height: 32px;
      padding-left: 3px;
    }
  </style>

  
</head>

<body class="font-montserrat sidebar_dark">
  <title>Change Password</title>
  <div id="main_content">
    <app-admin-sidebar></app-admin-sidebar>
    <div class="page">
      <app-admin-header></app-admin-header>

      <div id="page_top" class="section-body">
        <div class="container-fluid">
          <div class="d-flex justify-content-between align-items-center">
            <div class="header-action mb-5">
              <button type="button" class="btn btn-primary d-none" data-toggle="modal" data-target="#exampleModal">
                <i class="fe fe-plus mr-2"></i>Add Product Detail
              </button>
              <div></div>
            </div>
          </div>
        </div>
      </div>

      <div class="section-body">
        <div class="container-fluid">
          <div class="tab-content">
            <div class="tab-pane fade show active" id="Employee-list" role="tabpanel">
              <div class="section-body">
                <div class="bg-white px-4 py-4">
                  <div class="row">
                    <div class="col-4">
                      <h5>Change Password</h5>
                    </div>
                  </div>
                  <br />
                  <form method="POST" id="change-password-form" (ngSubmit)="passwordSubmit()" class="parsleyjs"
                    data-parsley-priority-enabled="false">
                    <div class="row d-flex justify-content-start">
                      <div class="col-4">
                        <!-- <div>
                          <label for="oldpassword">Old Password
                            <span class="text-danger">*</span></label>
                          <input required type="password" name="oldpassword" placeholder="Enter Old Password"
                            class="form-control form-control-sm" id="oldpassword"
                            data-parsley-trigger-after-failure="change"
                            data-parsley-required-message="This Field is required"
                            data-parsley-errors-container="#error-old-password" data-parsley-required />
                          <p class="text-danger mb-0 text-left f-12 mt-2" id="error-old-password"></p>

                        </div> -->

                  <div>
                    <label for="oldpassword">Old Password
                      <span class="text-danger">*</span>
                    </label>
                    <div class="input-group">
                      <input [(ngModel)]="password"  #passwordInput required type="password" name="oldpassword" placeholder="Enter Old Password"
                        class="form-control form-control-sm" id="oldpassword" data-parsley-trigger-after-failure="change"
                        data-parsley-required-message="This Field is required" data-parsley-errors-container="#error-old-password"
                        data-parsley-required />
                      <div class="input-group-append">
                        <span class="input-group-text toggle-password">
                          <ng-template #hidePassword>
                          <i  class="fa-solid fa-eye" id="toggleOldPasswordShow"></i>
                          </ng-template>
                          <i *ngIf="showPassword; else hidePassword" class="fa-solid fa-eye-slash" id="toggleOldPasswordHide"  style="display: none;"></i>
                        </span>
                      </div>
                    </div>
                    <p class="text-danger mb-0 text-left f-12 mt-2" id="error-old-password"></p>
                  </div> 

 
<p class="text-danger mb-0 text-left f-12 mt-2" id="error-old-password"></p>

                      </div>
                      <div class="col-4">
                        <!-- <div>
                          <label for="newPassword">New Password
                            <span class="text-danger">*</span></label>
                          <input required type="password" name="newPassword" placeholder="Enter New Password"
                            class="form-control form-control-sm" id="newPassword"
                            data-parsley-trigger-after-failure="change"
                            data-parsley-required-message="This Field is required"
                            data-parsley-errors-container="#error-new-password" data-parsley-required />
                          <p class="text-danger mb-0 text-left f-12 mt-2" id="error-new-password"></p>

                        </div> -->

                        <div>
                          <label for="newPassword">New Password
                            <span class="text-danger">*</span>
                          </label>
                          <div class="input-group">
                            <input   #newPasswordInput required type="password" name="newPassword"
                              placeholder="Enter New Password" class="form-control form-control-sm" id="newPassword"
                              data-parsley-trigger-after-failure="change" data-parsley-required-message="This Field is required"
                              data-parsley-errors-container="#error-new-password" data-parsley-required />
                            <div class="input-group-append">
                              <span class="input-group-text toggle-newPassword">
                               
                                  <i   class="fa-solid fa-eye" id="toggleNewPasswordShow"></i>
                                 
                                
                              </span>
                            </div>
                          </div>
                          <p class="text-danger mb-0 text-left f-12 mt-2" id="error-new-password"></p>
                        </div>
                      </div>
                      <div class="col-4">
                        <!-- <div>
                          <label for="confirmPassword">Confirm Password
                            <span class="text-danger">*</span></label>
                          <input required type="password" name="confirmPassword" placeholder="Confirm New Password"
                            class="form-control form-control-sm" id="confirmPassword"
                            data-parsley-trigger-after-failure="change"
                            data-parsley-required-message="This Field is required"
                            data-parsley-errors-container="#error-confirm-password" data-parsley-required
                            data-parsley-equalto="#newPassword" data-parsley-equalto-message="Passwords do not match" />
                          <p class="text-danger mb-0 text-left f-12 mt-2" id="error-confirm-password"></p>

                        </div> -->

                        <div>
                          <label for="confirmPassword">Confirm Password
                            <span class="text-danger">*</span>
                          </label>
                          <div class="input-group">
                            <input   #confirmPasswordInput required type="password" name="confirmPassword"
                              placeholder="Confirm New Password" class="form-control form-control-sm" id="confirmPassword"
                              data-parsley-trigger-after-failure="change" data-parsley-required-message="This Field is required"
                              data-parsley-errors-container="#error-confirm-password" data-parsley-required data-parsley-equalto="#newPassword"
                              data-parsley-equalto-message="Passwords do not match" />
                            <div class="input-group-append">
                              <span class="input-group-text toggle-confirmPassword">
                                 
                                  <i  class="fa-solid fa-eye" id="toggleConfirmPasswordShow"></i>
                                 
                                 
                              </span>
                            </div>
                          </div>
                          <p class="text-danger mb-0 text-left f-12 mt-2" id="error-confirm-password"></p>
                        </div>

                      </div>
                    </div>
                    <div class="d-flex justify-content-end">
                      <button class="btn btn-primary mt-3" type="submit">
                        Update
                      </button>
                    </div>
                  </form>
                </div>

                <footer class="footer">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-md-6 col-sm-12">Copyright © 2022.</div>
                      <div class="col-md-6 col-sm-12 text-md-right d-none">
                        <ul class="list-inline mb-0">
                          <li class="list-inline-item">
                            <a href="../doc/index.html">Documentation</a>
                          </li>
                          <li class="list-inline-item">
                            <a href="javascript:void(0)">FAQ</a>
                          </li>
                          <li class="list-inline-item">
                            <a href="javascript:void(0)" class="btn btn-outline-primary btn-sm">Buy Now</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </footer>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="assets/assets/bundles/lib.vendor.bundle.js" loading="lazy"></script>

  <script src="assets/assets/bundles/apexcharts.bundle.js" loading="lazy"></script>
  <script src="assets/assets/bundles/counterup.bundle.js" loading="lazy"></script>
  <script src="assets/assets/bundles/knobjs.bundle.js" loading="lazy"></script>
  <script src="assets/assets/bundles/c3.bundle.js" loading="lazy"></script>

  <script src="assets/assets/js/core.js" loading="lazy"></script>
  <script src="assets/assets/js/page/index.js" loading="lazy"></script>

  <script src="assets/assets/plugins/sweetalert/sweetalert.min.js" loading="lazy"></script>
  <script src="assets/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" loading="lazy"></script>
  <script src="assets/assets/plugins/dropify/js/dropify.min.js" loading="lazy"></script>

  <script src="assets/assets/js/page/dialogs.js" loading="lazy"></script>
  <script src="assets/assets/js/form/dropify.js" loading="lazy"></script>

  <script src="assets/assets/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js" loading="lazy"></script>
  <script src="assets/assets/plugins/bootstrap-multiselect/bootstrap-multiselect.js" loading="lazy"></script>
  <script src="assets/assets/plugins/multi-select/js/jquery.multi-select.js" loading="lazy"></script>
  <script src="assets/assets/plugins/jquery.maskedinput/jquery.maskedinput.min.js" loading="lazy"></script>
  <script src="assets/assets/plugins/jquery-inputmask/jquery.inputmask.bundle.js" loading="lazy"></script>
  <script src="assets/assets/plugins/dropify/js/dropify.min.js" loading="lazy"></script>
  <script src="assets/assets/plugins/parsleyjs/js/parsley.min.js"></script>
  <script src="assets/assets/bundles/lib.vendor.bundle.js"></script>
  <script src="assets/assets/js/sweetalert.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.4.0/jszip.js"></script>
  <script src="https://kendo.cdn.telerik.com/2022.3.1109/js/kendo.all.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
  <script src="assets/assets/js/form/form-advanced.js" loading="lazy"></script>
  <script src="assets/assets/js/form/date_picker.js"></script>


  <script>
    $(document).on("click", ".btn_open_modal", function () {
      //  itemDisplayNone
      $(".open_show_popup").toggleClass("itemDisplayNone");
    });

    var date = new Date();
    $(".date_picker").datepicker({
      autoclose: true,
      format: "dd-mm-yyyy",
      viewMode: "date",
      minViewMode: "date",
      endDate: new Date(),
    });

    $(".date_picker").focusout(function () {
      $(".date_of_birth_validation").addClass("d-none");
      $("#dateAndTime").css("border-color", "#ced4da");
    });

    //    function validateForm() {
    //         var oldPassword = document.getElementById("oldpassword").value;
    //         var newPassword = document.getElementById("newPassword").value;
    //         var confirmPassword = document.getElementById("confirmPassword").value;
    //         var errorMessage = document.getElementById("error-message");

    //         if (oldPassword.trim() === "" || newPassword.trim() === "" || confirmPassword.trim() === "") {
    //             errorMessage.textContent = "All fields are required!";
    //             return false; // Prevent form submission
    //         }

    //         if (newPassword !== confirmPassword) {
    //             errorMessage.textContent = "New Password and Confirm Password do not match!";
    //             return false; // Prevent form submission
    //         }

    //         return true; // Allow form submission
    //     }



     
       
    

  </script>
   
</body>

</html>