<app-header> </app-header>
<section class="process" style="margin-top: 80px !important">
    <div class="container">
        <div class="row">
            <div class="title-page-white w-100 pt-4"></div>
        </div>
    </div>
</section>
<section class="process pt-0">
    <div class="container">
        <div class="title-page-white text-left w-100">
            <h2 class="title_set" style="font-weight: 600">FAQs</h2>

            <div class="row justify-content-center mt-2 text-left">
                <div class="col-lg-12 pl-0">
                    <div class="col-lg-12 mt-4 pl-4">
                        <p style="font-size: 18px; font-weight: 600">
                            1. How can I easily request a quote or place an order for your
                            products?
                        </p>

                        <p class="pl-4">
                            - For any inquiries or assistance, please feel free to reach out
                            to our sales team at:
                            <a href="mailto:sales@sensesakustik.com">sales@sensesakustik.com</a>.
                        </p>
                    </div>

                    <div class="col-lg-12 mt-4 pl-4">
                        <p style="font-size: 18px; font-weight: 600">
                            2. What is the process for ordering samples and receiving
                            catalogs?
                        </p>

                        <p class="pl-4">
                            - To request samples, please fill out this
                            <button data-toggle="modal" data-target="#myModal" class="link pl-0 pr-0" style="
                  border: none;
                  outline: none;
                  background-color: transparent;

                  color: #007bff;
                ">
                                Form
                            </button>
                            or get in touch with our
                            <button data-toggle="modal" data-target="#myModal" class="link pl-0 pr-0" style="
                  border: none;
                  outline: none;
                  background-color: transparent;

                  color: #007bff;
                ">
                                Sales Rep
                            </button>
                            or
                            <button (click)="DealerFunction()" class="link pl-0 pr-0" style="
                  border: none;
                  outline: none;
                  background-color: transparent;

                  color: #007bff;
                ">
                                Dealer
                            </button>
                            in your location. You can also reach us via email at:<a
                                href="mailto:info@sensesakustik.com">
                                info@sensesakustik.com</a>
                            for your specific requirements.
                        </p>
                    </div>

                    <div class="col-lg-12 mt-4 pl-4">
                        <p style="font-size: 18px; font-weight: 600">
                            3. Can I obtain sample materials or swatches to assist me in
                            selecting the right colors and materials?
                        </p>

                        <p class="pl-4">
                            - To discuss your exact requirements and address any specific
                            inquiries, we recommend reaching out to our
                            <button data-toggle="modal" data-target="#myModal" class="link pl-0 pr-0" style="
                  border: none;
                  outline: none;
                  background-color: transparent;

                  color: #007bff;
                ">
                                Sales Rep
                            </button>
                            or
                            <button (click)="DealerFunction()" class="link pl-0 pr-0" style="
                  border: none;
                  outline: none;
                  background-color: transparent;

                  color: #007bff;
                ">
                                Dealer
                            </button>
                            in your location.
                        </p>
                    </div>

                    <div class="col-lg-12 mt-4 pl-4">
                        <p style="font-size: 18px; font-weight: 600">
                            4. Where can I access assembly instructions and other essential
                            documents related to your products?
                        </p>

                        <p class="pl-4">
                            - Discover a wealth of information on our website's
                            <a class="cursor-pointer" [routerLink]="['/resources']" target="_blank">Resources Page</a>.
                        </p>
                    </div>

                    <div class="col-lg-12 mt-4 pl-4">
                        <p style="font-size: 18px; font-weight: 600">
                            5. Can you provide me with some real-life case studies or examples
                            showcasing how your products have been utilized?
                        </p>

                        <p class="pl-4">
                            - Get inspired by our portfolio of successful
                            <button (click)="project_case()" class="link pl-0 pr-0" style="
                  border: none;
                  outline: none;
                  background-color: transparent;

                  color: #007bff;
                ">
                                Projects</button>.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center text-left">
                <div class="col-lg-12 pl-0">
                    <div class="col-lg-12 mt-4 pl-4">
                        <p style="font-size: 18px; font-weight: 600">
                            6. Do you offer expert assistance in space planning and design to
                            help optimize my office layout?
                        </p>

                        <p class="pl-4">
                            - We're here to provide you with all the information you need.
                            Simply write to us at:
                            <a href="mailto:sales@sensesakustik.com">sales@sensesakustik.com</a>.
                        </p>
                    </div>

                    <div class="col-lg-12 mt-4 pl-4">
                        <p style="font-size: 18px; font-weight: 600">
                            7. Can you provide personalized assessments or consultations to
                            identify the best solutions for my specific requirements?
                        </p>

                        <p class="pl-4">
                            - For further details, please don't hesitate to reach out to us at:
                            <a href="mailto:sales@sensesakustik.com">sales@sensesakustik.com</a>. Our team will be happy
                            to assist you.
                        </p>
                    </div>

                    <div class="col-lg-12 mt-4 pl-4">
                        <p style="font-size: 18px; font-weight: 600">
                            8. How customizable are your products to accommodate various
                            office designs and aesthetics?
                        </p>

                        <p class="pl-4">
                            - We have both; standard & customisable options available. Visit
                            our website to explore the options.
                        </p>
                    </div>

                    <div class="col-lg-12 mt-4 pl-4">
                        <p style="font-size: 18px; font-weight: 600">
                            9. Are your products designed to suit both small-scale and
                            large-scale office spaces?
                        </p>

                        <p class="pl-4">
                            - Our products are designed to fit seamlessly into a wide range of
                            requirements, offering flexibility and adaptability.
                        </p>
                    </div>

                    <div class="col-lg-12 mt-4 pl-4">
                        <p style="font-size: 18px; font-weight: 600">
                            10. What are some of the latest design trends and innovative
                            features found in your product range?
                        </p>

                        <p class="pl-4">
                            - Let our website be your gateway to discovering the quality,
                            craftsmanship, and innovative features that set our products
                            apart.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center text-left">
                <div class="col-lg-12 pl-0">
                    <div class="col-lg-12 mt-4 pl-4">
                        <p style="font-size: 18px; font-weight: 600">
                            11. What are the recommended maintenance and cleaning guidelines
                            for your products?
                        </p>

                        <p class="pl-4">
                            - Explore our standard Care & Maintenance Guide to discover expert
                            tips and guidelines on how to effectively maintain and care for
                            your products.
                        </p>
                    </div>

                    <div class="col-lg-12 mt-4 pl-4">
                        <p style="font-size: 18px; font-weight: 600">
                            12. Do you provide professional installation services for your
                            products?
                        </p>

                        <p class="pl-4">
                            - We partner with trusted and company-approved third-party
                            installers who are dedicated to delivering impeccable
                            installations of our products.
                        </p>
                    </div>

                    <div class="col-lg-12 mt-4 pl-4">
                        <p style="font-size: 18px; font-weight: 600">
                            13. What warranty and support options are available for your
                            products?
                        </p>

                        <p class="pl-4">
                            - We provide comprehensive warranties for all our products to
                            ensure your peace of mind. Our
                            <a class="cursor-pointer" [routerLink]="['/warranty-statement']" target="_blank">Warranty
                                Statement</a>, available on our website, outlines the details of coverage,
                            including the duration and specific terms and conditions.
                        </p>
                    </div>

                    <div class="col-lg-12 mt-4 pl-4">
                        <p style="font-size: 18px; font-weight: 600">
                            14. Is there an after-sales service offered, and what does it
                            include?
                        </p>

                        <p class="pl-4">
                            - We are committed to providing exceptional customer support
                            throughout your journey with our products. Our team is available
                            to assist you with any technical or installation-related queries
                            you may have.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center text-left">
                <div class="col-lg-12 pl-0">
                    <div class="col-lg-12 mt-4 pl-4">
                        <p style="font-size: 18px; font-weight: 600">
                            15. Do you offer international shipping for your products?
                        </p>

                        <p class="pl-4">
                            - We offer international shipping for all sales orders.
                        </p>
                    </div>

                    <div class="col-lg-12 mt-4 pl-4">
                        <p style="font-size: 18px; font-weight: 600">
                            16. What is the process for checking the status of my order?
                        </p>

                        <p class="pl-4">
                            - For the exact status of your order, please contact our sales
                            representative or reach out to us at:
                            <a href="mailto:sales@sensesakustik.com">sales@sensesakustik.com</a>.
                        </p>
                    </div>

                    <div class="col-lg-12 mt-4 pl-4">
                        <p style="font-size: 18px; font-weight: 600">
                            17. What is your policy regarding returns and exchanges?
                        </p>

                        <p class="pl-4">
                            - We don't have an exchange or return policy for products
                            manufactured against order. However, if you have any quality or
                            other concerns, we are here to assist you.
                        </p>
                    </div>

                    <div class="col-lg-12 mt-4 pl-4">
                        <p style="font-size: 18px; font-weight: 600">
                            18. Are your products covered by warranty internationally?
                        </p>

                        <p class="pl-4">
                            - All our products come with a warranty. Please refer to our
                            <a class="cursor-pointer" [routerLink]="['/']" target="_blank">Website</a>
                            for detailed warranty information specific to each product.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center text-left">
                <div class="col-lg-12 pl-0">
                    <div class="col-lg-12 mt-4 pl-4">
                        <p style="font-size: 18px; font-weight: 600">
                            19. Are your products designed with a focus on environmental
                            friendliness and sustainability?
                        </p>

                        <p class="pl-4">
                            - Our products are environmentally friendly and sustainable,
                            designed with a focus on sustainability.
                        </p>
                    </div>

                    <div class="col-lg-12 mt-4 pl-4">
                        <p style="font-size: 18px; font-weight: 600">
                            20. Do you incorporate recycled materials in the production of
                            your products?
                        </p>

                        <p class="pl-4">
                            - We prioritize the use of recycled materials in our manufacturing
                            and packaging processes to minimize waste and promote
                            sustainability.
                        </p>
                    </div>

                    <div class="col-lg-12 mt-4 pl-4">
                        <p style="font-size: 18px; font-weight: 600">
                            21. What measures do you take to minimize your environmental
                            impact during the manufacturing process?
                        </p>

                        <p class="pl-4">
                            - Please refer to our
                            <a class="cursor-pointer" href="./assets/SA_Sustainability_Report23.pdf" target="_blank"
                                target="_blank">Sustainability Report</a>
                            on our website for more detailed information on our initiatives
                            and practices that contribute to environmental sustainability.
                        </p>
                    </div>

                    <div class="col-lg-12 mt-4 pl-4">
                        <p style="font-size: 18px; font-weight: 600">
                            22. Do your products comply with any certifications or industry
                            standards?
                        </p>

                        <p class="pl-4">
                            - Our products are certified by renowned organizations. For more
                            information on the certifications we hold, please visit our
                            website.
                        </p>
                    </div>

                    <div class="col-lg-12 mt-4 pl-4">
                        <p style="font-size: 18px; font-weight: 600">
                            23. How do your solutions contribute to sustainability and
                            environmental responsibility?
                        </p>

                        <p class="pl-4">
                            - Please take a look at our latest
                            <a class="cursor-pointer" href="./assets/SA_Sustainability_Report23.pdf" target="_blank"
                                target="_blank">Sustainability Report</a>
                            for detailed information on our environmental initiatives and
                            achievements.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center text-left">
                <div class="col-lg-12 pl-0">
                    <div class="col-lg-12 mt-4 pl-4">
                        <p style="font-size: 18px; font-weight: 600">
                            24. What types of solutions does your company offer for office
                            spaces?
                        </p>

                        <p class="pl-4">
                            - Explore our
                            <a class="cursor-pointer" href="/products" target="_blank" target="_blank">Products</a>
                            to discover a wide range of collaborative furniture and acoustic
                            solutions specifically designed for office spaces.
                        </p>
                    </div>

                    <div class="col-lg-12 mt-4 pl-4">
                        <p style="font-size: 18px; font-weight: 600">
                            25. In what ways can your products enhance productivity in an
                            office environment?
                        </p>

                        <p class="pl-4">
                            - Experience the joy and positive impact of our products firsthand
                            by exploring our
                            <a class="cursor-pointer" href="insights" target="_blank" target="_blank">Insights Page</a>.
                            Witness how we create environments that spread happiness and
                            elevate the office experience.
                        </p>
                    </div>

                    <div class="col-lg-12 mt-4 pl-4">
                        <p style="font-size: 18px; font-weight: 600">
                            26. Do you have a showroom where I can personally explore your
                            products?
                        </p>

                        <p class="pl-4">
                            - We have got our offices, display centers, and representatives
                            across various locations. For further information or inquiries,
                            please reach out to us at:
                            <a href="mailto:sales@sensesakustik.com">sales@sensesakustik.com</a>.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center text-left">
                <div class="col-lg-12 pl-0">
                    <div class="col-lg-12 mt-4 pl-4">
                        <p style="font-size: 18px; font-weight: 600">
                            27. Can I download product and project images?
                        </p>

                        <p class="pl-4">
                            - You can download high-resolution images and project case studies
                            in PDF format from our website.
                        </p>
                    </div>

                    <div class="col-lg-12 mt-4 pl-4">
                        <p style="font-size: 18px; font-weight: 600">
                            28. Can I use and share the images commercially?
                        </p>

                        <p class="pl-4">
                            - Unauthorized commercial use of our property is strictly
                            prohibited. For more information, read our
                            <a class="cursor-pointer" href="/terms-and-conditions" target="_blank" target="_blank">Terms
                                of Use</a>
                            Policy.
                        </p>
                    </div>

                    <div class="col-lg-12 mt-4 pl-4">
                        <p style="font-size: 18px; font-weight: 600">
                            29. The color of the actual product I received is different from
                            that shown in the images, why is it so?
                        </p>

                        <p class="pl-4">
                            - Please be aware that the PDF color shades can appear different
                            from the real fabric colors. We advise you to request actual
                            fabric samples before ordering.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center text-left">
                <div class="col-lg-12 pl-0">
                    <div class="col-lg-12 mt-4 pl-4">
                        <p style="font-size: 18px; font-weight: 600">
                            30.Can I download brochures, specification sheets and assembly
                            guidelines?
                        </p>

                        <p class="pl-4">
                            - The
                            <button (click)="handleDownloadSection()" class="link pl-0 pr-0" style="
                  border: none;
                  outline: none;
                  background-color: transparent;

                  color: #007bff;
                ">
                                Downloads Section</button> is exclusively available for your convenience.
                        </p>
                    </div>

                    <div class="col-lg-12 mt-4 pl-4">
                        <p style="font-size: 18px; font-weight: 600">
                            31. Can I order products of different dimensions than that
                            mentioned in the Specification Sheet?
                        </p>

                        <p class="pl-4">
                            - Customizations are not available unless specified on the product
                            specification sheet.
                        </p>
                    </div>

                    <div class="col-lg-12 mt-4 pl-4">
                        <p style="font-size: 18px; font-weight: 600">
                            32. Can you provide a video for product assembly guidelines?
                        </p>

                        <p class="pl-4">
                            - While we don't offer video assembly services currently, we
                            provide detailed and user-friendly installation manuals that make
                            the process easy to follow.
                        </p>
                    </div>

                    <div class="col-lg-12 mt-4 pl-4">
                        <p style="font-size: 18px; font-weight: 600">
                            33. I am having some doubts regarding the dimensions of the
                            product, whom should I contact?
                        </p>

                        <p class="pl-4">
                            - To discuss your exact requirements and address any specific
                            inquiries, we recommend reaching out to our
                            <button data-toggle="modal" data-target="#myModal" class="link pl-0 pr-0" style="
                  border: none;
                  outline: none;
                  background-color: transparent;

                  color: #007bff;
                ">
                                Sales Rep
                            </button>
                            or
                            <button (click)="DealerFunction()" class="link pl-0 pr-0" style="
                  border: none;
                  outline: none;
                  background-color: transparent;

                  color: #007bff;
                ">
                                Dealer
                            </button>
                            in your location.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center text-left">
                <div class="col-lg-12 pl-0">
                    <div class="col-lg-12 mt-4 pl-4">
                        <p style="font-size: 18px; font-weight: 600">
                            34. Can I order products other than the color mentioned in swatch
                            cards?
                        </p>

                        <p class="pl-4">
                            - While we strive to provide a wide range of color options, we
                            cannot guarantee an exact match to specific expectations. However,
                            we will do our best to find a color that closely aligns with your
                            preferences from our extensive colorway options.
                        </p>
                    </div>

                    <div class="col-lg-12 mt-4 pl-4">
                        <p style="font-size: 18px; font-weight: 600">
                            35. Why is there color variation in the swatch cards and the
                            actual product?
                        </p>

                        <p class="pl-4">
                            - Colors may appear slightly different in photos than in reality due
                            to monitor variations.
                        </p>
                    </div>

                    <div class="col-lg-12 mt-4 pl-4">
                        <p style="font-size: 18px; font-weight: 600">
                            36. Can I download CAD files?
                        </p>

                        <p class="pl-4">
                            - Feel free to access and download the available 2D drawing files
                            from our website.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center text-left">
                <div class="col-lg-12 pl-0">
                    <div class="col-lg-12 mt-4 pl-4">
                        <p style="font-size: 18px; font-weight: 600">
                            37. What is the authenticity of certificates and awards?
                        </p>

                        <p class="pl-4">
                            - Our products are certified and awarded by renowned
                            organizations. For more information on the certifications we hold,
                            please visit our website.
                        </p>
                    </div>

                    <div class="col-lg-12 mt-4 pl-4">
                        <p style="font-size: 18px; font-weight: 600">
                            38. Are the test reports validated by a Third party or valid
                            institution?
                        </p>

                        <p class="pl-4">
                            - Rest assured, our test reports undergo rigorous validation by
                            esteemed institutions, ensuring their accuracy and reliability.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer> </app-footer>