<div class="footer">
  <div class="container footer-rowtop">
    <div class="row w-100">
      <div class="col-sm-2 footer-links">
        <h5
          class="bottom_header mb-4"
          style="font-weight: 700; font-size: 19px; color: #000"
        >
          About
        </h5>

        <a href="#"><h4 style="font-weight: 500">Sustainability</h4></a>
        <a [routerLink]="['/career']"
          ><h4 style="font-weight: 500">Careers</h4></a
        >
        <a href="#"><h4 style="font-weight: 500">Locations</h4></a>
        <div class="item-new">
          <ul class="list-group mb-4">
            <div class="row mt-3 d-none">
              <div class="col-lg-1 col-md-1 p-0 d-none">
                <i class="fa fa-map-marker f-24 mt-1" style="color: #000"> </i>
              </div>
              <div class="col-lg-11 col-md-11 d-none">
                <p
                  class="list-inline"
                  style="
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 24px;
                    color: #000;
                  "
                >
                  Senses Akustik Pvt Ltd
                  <br />
                  1406, 14th floor, Range Heights, Link road, Oshiwara baug,
                  Jogeshwari (W), Mumbai 400102, India
                </p>
              </div>
            </div>
            <div class="row mt-1 d-none">
              <div class="col-lg-1 col-md-1 p-0">
                <i class="fa fa-phone f-24 mt-1" style="color: #000"> </i>
              </div>
              <div class="col-lg-10 col-md-10">
                <p
                  class="list-inline"
                  style="font-style: normal; font-weight: 500; font-size: 16px"
                >
                  <a
                    href="tel:02612894415"
                    style="color: #000; font-weight: 500"
                    >+91-9725105735</a
                  >
                </p>
              </div>
            </div>
            <div class="row mt-1 d-none">
              <div class="col-lg-1 col-md-1 p-0">
                <i class="fa fa-envelope f-24 mt-1" style="color: #000"> </i>
              </div>
              <div class="col-lg-10 col-md-10">
                <a href="mailto:info@laxmipati.com"
                  ><p
                    class="list-inline"
                    style="
                      font-family: 'Roboto';
                      font-style: normal;
                      font-weight: 500;
                      font-size: 16px;
                      color: #000;
                    "
                  >
                    info@sensesakustik.com
                  </p></a
                >
              </div>
            </div>
          </ul>
        </div>
      </div>
      <div class="col-sm-1"></div>
      <div class="col-sm-2 footer-links">
        <h5
          class="bottom_header mb-4"
          style="font-weight: 700; font-size: 19px; color: #000"
        >
          Resources
        </h5>
        <a href="#"><h4 style="font-weight: 500">Tech. Specs</h4></a>
        <a href="#"><h4 style="font-weight: 500">Certifications</h4></a>
        <a href="#"><h4 style="font-weight: 500">FAQs</h4></a>
      </div>
      <div class="col-sm-1"></div>
      <div class="col-sm-2 footer-links">
        <h5
          class="bottom_header mb-4"
          style="font-weight: 700; font-size: 19px; color: #000"
        >
          Insights
        </h5>
        <a href="#"><h4 style="font-weight: 500">Blogs</h4></a>
        <a href="#"><h4 style="font-weight: 500">Project Cases</h4></a>
      </div>
      <div class="col-sm-1"></div>
      <div class="col-sm-3 footer-links">
        <h5
          class="bottom_header mb-3"
          style="font-weight: 700; font-size: 19px; color: #000"
        >
          Newsletter
        </h5>
        <h4>Get the latest on Senses Akustik right to your inbox.</h4>
        <div class="forrm" style="margin-top: -4%">
          <form action="/action_page.php">
            <input
              type="text"
              id="fname"
              name="firstname"
              placeholder="Enter your email"
            />
            <button type="submit" class="button_set">
              <i class="fa fa-long-arrow-right"> </i>
            </button>
          </form>
        </div>
        <ul class="list-unstyled list-inline mt-4">
          <li class="list-inline-item" style="margin-right: 1rem">
            <a
              target="_blank"
              href="https://codepen.io/jettaz"
              class="sbtn btn-large mx-1"
              title="Facebook"
            >
              <i
                class="fab fa-facebook-square fa-2x"
                style="color: #3d3d3d; font-weight: 800"
              ></i>
            </a>
          </li>
          <li class="list-inline-item" style="margin-right: 1rem">
            <a
              target="_blank"
              href="https://codepen.io/jettaz"
              class="sbtn btn-large mx-1"
              title="Linkedin"
            >
              <i
                class="fab fa-linkedin fa-2x"
                style="color: #3d3d3d; font-weight: 800"
              ></i>
            </a>
          </li>
          <li class="list-inline-item" style="margin-right: 1rem">
            <a
              target="_blank"
              href="https://codepen.io/jettaz"
              class="sbtn btn-large mx-1"
              title="Twitter"
            >
              <i
                class="fab fa-twitter-square fa-2x"
                style="color: #3d3d3d; font-weight: 800"
              ></i>
            </a>
          </li>
          <li class="list-inline-item" style="margin-right: 1rem">
            <a
              target="_blank"
              href="https://codepen.io/jettaz"
              class="sbtn btn-large mx-1"
              title="Youtube"
            >
              <i
                class="fab fa-youtube-square fa-2x"
                style="color: #3d3d3d; font-weight: 800"
              ></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
