<app-header>
</app-header>
<section class="process mt-0 pt-0 pb-4 mb-5" style=" position: relative;
top:0px">
	<img src="./assets/newslider.webp" style="background-size: cover;
	display: block;
	width: 100%;height: 850px;"/>
</section>
<section class="process mt-0 pt-0 pb-2" style="top: 0px !important;">
	<div class="container">
		<div class="row col-lg-12 d-flex mt-5">
			<div class="col-lg-4">
				<div class="title-page-white text-left w-100">
					<p class="font_set_link">
						- About Us
					</p>
					<h2 class="title_set mt-3" style="font-weight: 700;">
						Creating a better
					</h2>
					<div class=" text-left  mb-3">
						<hr class="hr_draw_all_you text-left"/>
					</div>
					<h2 class="title_set mt-3" style="font-weight: 700;">
						World of Work!
					</h2>
					<div class="  mb-3">
						<hr class="hr_draw_ans text-left"/>
					</div>
				</div>
			</div>
			<div class="col-lg-8">
				<div class="row ">
					<div class="accordion mt-5 pt-5" id="accordionExample">
						<div class="title-page-white text-left w-100">
							<h2 class="title_set mt-3" style="font-style: normal;
							font-weight: 500;
							font-size: 27px;">
								Why we do it?
							</h2>
							<div class=" text-left  mb-3">
								<hr class="hr_draw_why_we text-left"/>
							</div>
							<p class="p_all_text_set mb-4">
								We started this journey with the intention of making the world a better place, a world that the next generation deserves. Since the time we realized the impact noise makes in our daily life, we are on
								a journey to serve the society and do our bit to make this world a better noise-free place and help improve their quality of life. At senses akustik, everything we do, we believe in challenging the status
								quo. We believe in thinking differently. We believe in innovation. It’s the same intention which is inspiring us to be better every day and serve this world with the right notion, hoping it would be a
								better world.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="process mt-0 pt-0 pb-2" style="background:#EDF7F8;top: 0px !important;">
	<div class="container">
		<div class="row col-lg-12 d-flex mt-5 pt-5 pb-4 mb-3">
			<div class="col-lg-5">
				<div class="title-page-white text-left w-100">
					<p class="font_set_link" style="font-style:normal!important">
						WHY US?
					</p>
					<h2 class="title_set mt-3" style="font-weight: 700;">
						Core Value
					</h2>
					<div class=" text-left  mb-3">
						<hr class="hr_draw_core text-left"/>
					</div>
					<h2 class="title_set mt-3" style="font-weight: 700;">
						& Goal
					</h2>
					<div class="  mb-3">
						<hr class="hr_draw_goal text-left"/>
					</div>
					<p class="p_all_text_set mb-4" style="font-style: normal;
					font-weight: 400;
					font-size: 20px;">
						Every single one of us comes to work every day to do something we love, and in the process, we get to inspire people to do the things that inspire them.
					</p>
				</div>
			</div>
			<div class="col-lg-7 pr-0">
				<div class="row ">
					<div class="row col-lg-12">
						<div class="col-lg-6 ">
							<div class="container bg-white p-4 ">
								<img src="./assets/diamond.svg" class="mt-3" style="width: 15%;">
								<p class="p_all_text_set mb-2 mt-3" style="font-style: normal;
								font-weight: 600;
								font-size: 24px;">
									Quality Service
								</p>
								<p class="p_all_text_set mt-0" style="font-style: normal;
								font-weight: 400;
								font-size: 16px;">
									Lorem ipsum dolor sit amet, ligula eget dolor.
								</p>
							</div>
						</div>
						<div class="col-lg-6 ">
							<div class="container bg-white p-4 ">
								<img src="./assets/diamond.svg" class="mt-3" style="width: 15%;">
								<p class="p_all_text_set mb-2 mt-3" style="font-style: normal;
								font-weight: 600;
								font-size: 24px;">
									Quality Service
								</p>
								<p class="p_all_text_set mt-0" style="font-style: normal;
								font-weight: 400;
								font-size: 16px;">
									Lorem ipsum dolor sit amet, ligula eget dolor.
								</p>
							</div>
						</div>
						<div class="col-lg-6 mt-4">
							<div class="container bg-white p-4 ">
								<img src="./assets/diamond.svg" class="mt-3" style="width: 15%;">
								<p class="p_all_text_set mb-2 mt-3" style="font-style: normal;
								font-weight: 600;
								font-size: 24px;">
									Quality Service
								</p>
								<p class="p_all_text_set mt-0" style="font-style: normal;
								font-weight: 400;
								font-size: 16px;">
									Lorem ipsum dolor sit amet, ligula eget dolor.
								</p>
							</div>
						</div>
						<div class="col-lg-6 mt-4">
							<div class="container bg-white p-4 ">
								<img src="./assets/diamond.svg" class="mt-3" style="width: 15%;">
								<p class="p_all_text_set mb-2 mt-3" style="font-style: normal;
								font-weight: 600;
								font-size: 24px;">
									Quality Service
								</p>
								<p class="p_all_text_set mt-0" style="font-style: normal;
								font-weight: 400;
								font-size: 16px;">
									Lorem ipsum dolor sit amet, ligula eget dolor.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="process mt-0 pt-0 pb-2" style="top: 0px !important;">
	<div class="container">
		<div class="row col-lg-12 d-flex mt-5 pt-5 pb-4 mb-3">
			<div class="col-lg-7 pr-0">
				<div class="row col-lg-12 mx-auto">
					<img src="./assets/innovation_trsut.png" style="width: 90%;">
				</div>
			</div>
			<div class="col-lg-5">
				<div class="title-page-white text-left w-100 pt-5 mt-5">
					<p class="font_set_link" style="font-style:normal!important">
						Culture
					</p>
					<h2 class="title_set mt-3" style="font-weight: 700;">
						Innovation, Trust &
					</h2>
					<div class=" text-left  mb-3">
						<hr class="hr_draw_trust text-left"/>
					</div>
					<h2 class="title_set mt-3" style="font-weight: 700;">
						Commitment
					</h2>
					<div class="  mb-3">
						<hr class="hr_draw_commitment text-left"/>
					</div>
					<p class="p_all_text_set mb-4" style="font-style: normal;
					font-weight: 400;
					font-size: 18px;">
						The characteristics of an organization can be defined by the persona of a group of people and how they analyse and` function as a combined group. The performance can always fluctuate but the unity and
						strength of the team are what one should hold on to and it is this culture of our company that defines our values and morals to them who nurture the same.
					</p>
					<p class="card-text text-left p_all_text_set mt-2">
						<button class="btn btn-dark" style="background-color: #FECC00;border-color:#FECC00;color:black">
							<span style="font-weight: 600;font-size: 13px;">
								Join Our Team
							</span>
						</button>
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="process mt-0 pt-0 pb-2" style="top: 0px !important;">
	<div class="container">
		<div class="row">
			<div class="title-page-white text-center w-100">
				<h2 class="title_set " style="font-weight: 700;">
					Design, Tools & Technology
				</h2>
				<div class="col-lg-12 text-center mb-4">
					<hr class="hr_draw_design container"/>
				</div>
				<p class="p_all_text_set mb-4">
					We are a client-centric company that believes in innovation through intercommunications and work every day towards inventive and brilliant models using our design-centric approach. We design our acoustic
					products , based on intense research and right technology. For us, research and innovation plays a key role in any of our developments.
				</p>
				<div class="card">
					<img src="assets/Group 138 (1).png" class="card-img-top" alt="...">
				</div>
			</div>
		</div>
	</div>
</section>
<section class="process mt-5 pt-3 pb-5" style="background: #F9FFEE!important;top: 0px !important;">
	<div class="container pt-4 pb-4">
		<div class="row">
			<div class="title-page-white text-center w-100">
				<div class="row mt-3 d-flex align-items-baseline">
					<div class=" col-lg-6">
						<h2 class="title_set text-left mb-0" style="font-weight: 700;">
							Sustainability
						</h2>
						<div class="col-lg-12 text-left mb-0 mt-2 row">
							<hr class="hr_draw_sustainability text-left"/>
						</div>
						<p class="p_all_text_set mb-4 text-left">
							We have always been fascinated by the way, the environment works and the impact it creates in our lives. our acoustic products are 100% PET (60% recycled) based and has got great acoustic properties.
							It is environmentally friendly and beautifully functional.
						</p>
						<p class="p_all_text_set mb-4 text-left">
							We have earned the environmental certifications, authenticating that our ethical standards are followed beginning from the raw material production to the end product and also that the same is in line
							with our aim to depreciate our impact on the climate and the surrounding.
						</p>
						<div class=" text-center d-flex justify-content-center pt-4">
							<img src="./assets/green.png" style="width: 60%;">
						</div>
					</div>
					<div class=" col-lg-6">
						<h2 class="title_set text-left mb-4 " style="font-weight: 700;font-size: 19px;">
							Recyclable material
						</h2>
						<div class="row">
							<div class="col-lg-1">
								<span>
									<i class="fa fa-circle mr-3" style="font-size: 8px;">
									</i>
								</span>
							</div>
							<div class="col-lg-11 pl-0">
								<p class="p_all_text_set mb-4 text-left mt-1 ">
									We consider the sustainable environment as our top priority , our products are designed with materials that are always and forever recyclable and has zero impact on environment. We also make sure that
									the impact of our products.
								</p>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-1">
								<span>
									<i class="fa fa-circle mr-3" style="font-size: 8px;">
									</i>
								</span>
							</div>
							<div class="col-lg-11 pl-0">
								<p class="p_all_text_set mb-4 text-left mt-1 ">
									We consider the sustainable environment as our top priority , our products are designed with materials that are always and forever recyclable and has zero impact on environment. We also make sure that
									the impact of our products.
								</p>
							</div>
						</div>
						<div class="  text-center d-flex justify-content-center mt-0">
							<img src="./assets/certi.png" style="width: 60%;">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="process mt-5 pt-0 pb-2" style="top: 0px !important;">
	<div class="container">
		<div class="row">
			<div class="title-page-white text-center w-100">
				<h2 class="title_set " style="font-weight: 700;">
					Our Global Reach
				</h2>
				<div class="col-lg-12 text-center mb-4">
					<hr class="hr_draw_global_search container"/>
				</div>
				<div class="card">
					<img src="assets/MAP 1.png" class="card-img-top" alt="...">
				</div>
			</div>
		</div>
	</div>
</section>
<section class="process mt-5 pt-0 pb-2" style="top: 0px !important;margin-bottom: -40px;">
	<div class="container">
		<div class="row">
			<div class="title-page-white text-center w-100">
				<h2 class="title_set " style="font-weight: 700;">
					Connect with us
				</h2>
				<div class="col-lg-12 text-center mb-5">
					<hr class="hr_draw_connect container"/>
				</div>
				<div class="row text-left " style="border: 2px solid #232026;">
					<div class="col-lg-12 p-5" style="
					box-shadow: 6px 7px 0px #000;
					">
						<form>
							<label for="fname" class="form-label p_all_text_set">
								Name
								<span>
									*
								</span>
							</label>
							<input type="text" class="form-control pl-0" id="fname" name="fname" style="margin-top: -5px;">
							<label for="email" class="form-label p_all_text_set mt-4">
								Email
								<span>
									*
								</span>
							</label>
							<input type="email" class="form-control pl-0" id="email" name="email" style="margin-top: -5px;">
							<label for="fname" class="form-label p_all_text_set mt-4">
								Your message
								<span>
									*
								</span>
							</label>
							<textarea type="text" class="form-control pl-0" id="fname" name="fname" style="margin-top: -5px;">
							</textarea>
						</form>
					</div>
				</div>
				<div class="row col-lg-12 text-center mt-4 mb-4">
					<p class="card-text text-left p_all_text_set mt-4 d-flex justify-content-center">
						<button class="btn btn-dark" style="background-color: #FECC00;border-color:#FECC00;color:black">
							<span style="font-weight: 600;font-size: 13px;">
								Join Our Team
							</span>
						</button>
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
<app-footer>
</app-footer>