<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Out Of The Box</title>
  </head>
  <body class="body-table">
    <div>
      <table class="table">
        <tbody>
          <tr>
            <td class="text-center-img-padding">
              <img src="../../assets/outbox/header.png" alt="" />
            </td>
          </tr>
          <tr>
            <td
              style="text-align: center; padding: 0px; vertical-align: middle"
            >
              <p class="con-1">
                We would be pleased to have you join us in one of our
                <span style="font-weight: bold"> Out-Of-The-Box </span>sessions.
                It is going to be all about good company, good talks and good
                food!
              </p>
            </td>
          </tr>
          <tr>
            <td
              style="text-align: center; padding: 0px; vertical-align: middle"
            >
              <p class="con-2">
                Click on the link below to accept the invitation.
              </p>
            </td>
          </tr>
          <tr>
            <td
              style="text-align: center; padding: 0px; vertical-align: middle"
            >
              <a target="_blank"
                href="https://forms.gle/Gbs1SguJJt6nfw9D6"
                class="accept-invite-btn"
                >Accept Invitation</a
              >
            </td>
          </tr>

          <tr>
            <td
              style="text-align: center; padding: 0px; vertical-align: middle"
            >
              <p class="con-3">
                We would really appreciate it if you could take a minute of your
                time and fill out the form attached to this link. It will really
                help us serve you better!
                <br />
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  height="16"
                  width="16"
                  viewBox="0 0 512 512"
                >
                  <path
                    d="M464 256A208 208 0 1 0 48 256a208 208 0 1 0 416 0zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zm177.6 62.1C192.8 334.5 218.8 352 256 352s63.2-17.5 78.4-33.9c9-9.7 24.2-10.4 33.9-1.4s10.4 24.2 1.4 33.9c-22 23.8-60 49.4-113.6 49.4s-91.7-25.5-113.6-49.4c-9-9.7-8.4-24.9 1.4-33.9s24.9-8.4 33.9 1.4zM144.4 208a32 32 0 1 1 64 0 32 32 0 1 1 -64 0zm192-32a32 32 0 1 1 0 64 32 32 0 1 1 0-64z"
                  />
                </svg>
              </p>
            </td>
          </tr>
          <tr>
            <td
              style="
                text-align: center;
                padding: 25px 50px;
                vertical-align: middle;
                background: #fff;
              "
            >
              <table style="width: 100%">
                <tbody>
                  <tr>
                    <td
                      style="
                        text-align: center;
                        vertical-align: middle;
                        width: 100%;
                        padding: 0px 0 25px 0;
                      "
                    >
                      <a href="https://sensesakustik.com/">
                        <img
                          src="../../assets/outbox/footer_logo.png"
                          alt="logo"
                          style="margin-right: 0%; vertical-align: middle"
                        />
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td
                      style="
                        text-align: center;
                        vertical-align: middle;
                        width: 100%;
                        padding: 0px 0 25px 0;
                      "
                    >
                      <a
                        style="margin-top: 5px; margin-right: 10px"
                        href="https://www.facebook.com/sensesakustik/"
                      >
                        <img
                          src="../../assets//outbox/icon_fb.png"
                          style="
                            max-height: 16px;
                            vertical-align: middle;
                            color: black;
                          "
                          alt="" /></a
                      >&nbsp;
                      <a
                        style="margin-top: 5px; margin-right: 10px"
                        href="https://www.instagram.com/sensesakustik/"
                        ><img
                          src="../../assets//outbox/icon_insta.png"
                          style="
                            max-height: 16px;
                            vertical-align: middle;
                            color: black;
                          "
                          alt="" /></a
                      >&nbsp;
                      <a
                        style="margin-top: 5px; margin-right: 10px"
                        href="https://in.pinterest.com/sensesakustik/"
                      >
                        <img
                          src="../../assets//outbox/icon_pintrest.png"
                          style="
                            max-height: 16px;
                            vertical-align: middle;
                            color: black;
                          "
                          alt="" /></a
                      >&nbsp;
                      <a
                        style="margin-top: 5px; margin-right: 10px"
                        href="https://www.linkedin.com/company/senses-akustik/"
                        ><img
                          src="../../assets//outbox/icon_linkedin.png"
                          style="
                            max-height: 16px;
                            vertical-align: middle;
                            color: black;
                          "
                          alt=""
                      /></a>
                    </td>
                  </tr>
                  <tr>
                    <td style="padding: 25px 0 0 0; border-top: solid 1px #ddd">
                      <a
                        style="
                          color: #000;
                          text-decoration: none;
                          font-size: 10px;
                          line-height: 20px;
                          font-weight: 500;
                          text-align: center;
                          padding: 10px 0;
                        "
                        href="https://sensesakustik.com/mailer/outofbox/outofbox.html"
                      >
                        View email in the browser
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
