<app-header> </app-header>
<section class="process" style="margin-top: 80px !important">
    <div class="container">
        <div class="row">
            <div class="title-page-white w-100 pt-4">

            </div>
        </div>
    </div>
</section>
<section class="process pt-0">
    <div class="container">
        <div class="title-page-white text-left w-100">
            <h2 class="title_set" style="font-weight: 600;font-size: 36px;">
                Warranty </h2>


            <p style="font-size: 16px;font-weight: 400;" class="mt-4">​Thank you for your interest in the products and
                services of Senses Akustik.




            </p>

            <p style="font-size: 16px;font-weight: 400;" class="mt-4"> This Limited Warranty applies to physical goods,
                and only for physical goods, purchased from us.
            </p>

            <h2 class="title_set mt-5" style="font-weight: 600">
                What does this limited warranty cover?

            </h2>
            <p style="font-size: 16px;font-weight: 400;" class="mt-4">Our Limited Warranty ensures coverage for defects
                in material, workmanship, technicalities and transit during the Warranty Period. Please refer to the
                specific product details for more information.




            </p>

            <h2 class="title_set mt-5" style="font-weight: 600">
                What will we do to correct problems?
            </h2>
            <p style="font-size: 16px;font-weight: 400;" class="mt-4">We will either repair the Product at no charge,
                using new or refurbished replacement parts.



            </p>





            <h2 class="title_set mt-5" style="font-weight: 600">
                How long does the coverage last?

            </h2>
            <p style="font-size: 16px;font-weight: 400;" class="mt-4">The Warranty Period for our physical goods and
                technical specifications varies by product. Please refer to the details on our Website or consult with
                our Sales Rep for specific information during your purchase.



            </p>


            <h2 class="title_set mt-5" style="font-weight: 600">
                What does this limited warranty not cover?
            </h2>
            <p style="font-size: 16px;font-weight: 400;" class="mt-4">This Limited Warranty does not cover any problem
                that is caused by:



            </p>
            <ul>
                <li>We are not liable for damages caused by on-site workmanship, improper usage, or other external
                    factors.
                </li>
                <li>We are not responsible for any damages or issues related to products that have not been purchased or
                    authorised through our official channels.

                </li>
                <li>conditions, malfunctions or damage not resulting from defects in material or workmanship.

                </li>
                <li> We cannot be held responsible for unforeseen accidents or circumstances beyond our control.

                </li>

            </ul>

            <h2 class="title_set mt-5" style="font-weight: 600">
                What do you have to do?</h2>
            <p style="font-size: 16px;font-weight: 400;" class="mt-4">To obtain warranty service, you must first contact
                us at: sales@sensesakustik.com to determine the problem and the most appropriate solution for you.



            </p>


        </div>
    </div>
</section>
<app-footer> </app-footer>