<!-- <div class="loaderMainContainer">
  <div class="loaderContainer">
    <div class="loaderBox box0">
      <div></div>
    </div>
    <div class="loaderBox box1">
      <div></div>
    </div>
    <div class="loaderBox box2">
      <div></div>
    </div>
    <div class="loaderBox box3">
      <div></div>
    </div>
    <div class="loaderBox box4">
      <div></div>
    </div>
    <div class="loaderBox box5">
      <div></div>
    </div>
    <div class="loaderBox box6">
      <div></div>
    </div>
    <div class="loaderBox box7">
      <div></div>
    </div>
    <div class="groundLoader">
      <div></div>
    </div>
  </div>
</div> -->

<div class="loaderMainContainer">
  <img src="./../../assets/loader.gif" alt="" />
</div>