<app-header> </app-header>

<section class="customProcess">
  <div class="container">
    <div class="row d-flex mt-5 pt-5">
      <div class="col-lg-5 d-flex align-items-center">
        <div class="title-page-white text-left w-100">
          <h2 class="title_set" style="font-weight: 700">What We Do</h2>

          <p class="p_all_text_set mb-4" style="font-style: normal; font-weight: 400; font-size: 18px">
            From the outset, our aim has been to make a positive impact on
            society and improve the quality of human life. To achieve this, we
            craft innovative furniture and acoustic solutions that are not only
            aesthetically pleasing, but also designed to bring happiness and
            foster productivity in our daily lives.
          </p>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="mx-auto d-flex justify-content-end">
          <img src="./assets/about_us/what_we_do.webp" class="pl-0 about_us_image" />
        </div>
      </div>
    </div>
  </div>
</section>

<section class="customProcess">
  <div class="container">
    <div class="row d-flex">
      <div class="col-lg-7 pr-0">
        <div class="mx-auto d-flex justify-content-start">
          <img src="./assets/about_us/how_we_can_Difference.webp" class="about_us_image" />
        </div>
      </div>
      <div class="col-lg-5 d-flex align-items-center">
        <div class="title-page-white text-left w-100">
          <h2 class="title_set" style="font-weight: 700">
            How We Make a Difference
          </h2>

          <p class="p_all_text_set mb-4" style="font-style: normal; font-weight: 400; font-size: 18px">
            We don't just believe in thinking differently, we live it. We are
            constantly driven by innovation and this mindset is what propels us
            to strive for improvement. We understand that in today's fast-paced
            world, change is the only constant and that is why we are constantly
            challenging ourselves and the status quo.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="process" style="background-color: #fff7e3ad !important">
  <div class="container">
    <div class="row d-flex">
      <h2
        class="title_set hover_effect text-center mb-3"
        style="font-weight: 700"
      >
        Core Values
      </h2>
      <div class="col-lg-6 d-flex align-items-center">
        <div class="title-page-white text-center w-100">
          <img src="./assets/about_us/icon/Positive.svg" style="width: 20%" />
          <h5 class="title_set mt-4" style="font-weight: 700">
            Be the Catalyst for Positive Change
          </h5>
        </div>
      </div>

      <div class="col-lg-6 d-flex mt-4 align-items-center">
        <div class="title-page-white text-center w-100">
          <img src="./assets/about_us/icon/Pride.svg" style="width: 20%" />
          <h5 class="title_set mt-4" style="font-weight: 700">
            Take Pride in Our Products
          </h5>
        </div>
      </div>

      <div class="col-lg-6 d-flex mt-4 align-items-center">
        <div class="title-page-white text-center w-100">
          <img src="./assets/about_us/icon/Empowerment.svg" style="width: 20%" />
          <h5 class="title_set mt-4" style="font-weight: 700">
            Empowerment for All
          </h5>
        </div>
      </div>

      <div class="col-lg-6 mt-4 d-flex align-items-center">
        <div class="title-page-white text-center w-100">
          <img src="./assets/about_us/icon/Excellence.svg" style="width: 20%" />
          <h5 class="title_set mt-4" style="font-weight: 700">
            Pursuit of Excellence
          </h5>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="customProcess">
  <div class="container">
    <div class="row d-flex">
      <div class="col-lg-5 d-flex align-items-center">
        <div class="title-page-white text-left w-100">
          <h2 class="title_set" style="font-weight: 700">Ethos & Culture</h2>

          <p class="p_all_text_set" style="font-style: normal; font-weight: 400; font-size: 18px">
            Our team is composed of individuals from all walks of life,
            representing different ages, genders and backgrounds. We celebrate
            diversity and strive to create an environment that is both
            challenging and rewarding, where everyone can grow, unlock their
            highest potential and seek new ways to do so.
          </p>
        </div>
      </div>
      <div class="col-lg-7 pr-0">
        <div class="mx-auto d-flex justify-content-end">
          <img src="./assets/about_us/Ethos.webp" class="about_us_image" />
        </div>
      </div>
    </div>
  </div>
</section>
<section class="process">
  <div class="container">
    <div class="row d-flex text-center">
      <h2 class="title_set hover_effect mb-3" style="font-weight: 700">
        Sustainability Drive
      </h2>

      <p class="p_all_text_set" style="font-style: normal; font-weight: 400; font-size: 18px">
        We believe in creating a sustainable future for everyone. Founded on
        four fundamental principles - Commitment to the client, passion for
        innovation, pursuit of operational excellence and a vision for the
        future - We are dedicated to making environmentally friendly and
        aesthetically pleasing products that benefit not only the environment,
        but also our customers and the local community.
      </p>
    </div>
  </div>

  <div class="container">
    <div class="row d-flex mt-0 pt-3">
      <div class="col-lg-4 pr-lg-0">
        <img src="./assets/2.png" class="mb-2" style="width: 100%" />
      </div>
      <div class="col-lg-4 pr-lg-0">
        <img src="./assets/about_us/icon/2.webp" class="mb-lg-3 mb-2" style="width: 99.7%" />
        <img src="./assets/about_us/icon/3.webp" class="mb-2" style="width: 99.7%" />
      </div>
      <div class="col-lg-4 pr-lg-0">
        <img src="./assets/1.png" style="width: 100%" />
      </div>
    </div>
    <div class="row text-center col-lg-12">
      <p class="card-text text-center p_all_text_set mt-4">
        <a [routerLink]="['/career']" target="blank"><button class="btn_set_css">
            <span style="font-weight: 600; font-size: 17px">
              Join Our Team
            </span>
          </button></a>
      </p>
    </div>
  </div>
</section>

<section class="customProcess">
  <div class="container">
    <div class="row d-flex">
      <div class="col-lg-7 pr-lg-0">
        <div class="mx-auto d-flex justify-content-start">
          <img src="./assets/about_us/Design.webp" class="about_us_image" />
        </div>
      </div>
      <div class="col-lg-5 d-flex align-items-center">
        <div class="title-page-white text-left w-100">
          <h2 class="title_set" style="font-weight: 700">Design Practise</h2>

          <p class="p_all_text_set mb-4" style="font-style: normal; font-weight: 400; font-size: 18px">
            At our company, we believe that good design can solve many everyday
            problems faced in the office space. We understand that as human
            beings, we tend to get used to our surroundings quickly and encode
            everyday things into habits. This process, known as habituation,
            helps free up space for learning new things. However, it can also
            cause us to overlook important problems.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="customProcess">
  <div class="container">
    <div class="row d-flex">
      <div class="col-lg-5 d-flex align-items-center">
        <div class="title-page-white text-left w-100">
          <h2 class="title_set" style="font-weight: 700">
            Manufacturing Paradigm
          </h2>

          <p class="p_all_text_set mb-4" style="font-style: normal; font-weight: 400; font-size: 18px">
            Our talented and dedicated team is the driving force behind our
            success. We invest in their growth and provide ongoing training to
            keep them at the forefront of industry trends and best practices.
            Their passion for their work is reflected in the meticulous
            attention to detail evident in every product we produce.
          </p>
        </div>
      </div>
      <div class="col-lg-7 pr-lg-0">
        <div class="mx-auto d-flex justify-content-end">
          <img src="./assets/about_us/Manufacturing.webp" class="pl-lg-0 about_us_image" />
        </div>
      </div>
    </div>
  </div>
</section>

<section class="process" id="whoWeAre">
  <div class="container">
    <div class="row d-flex text-center">
      <h2 class="title_set hover_effect mb-3" style="font-weight: 700">
        We Are, Where You Are!
      </h2>

      <div class="row no-gutters pr-lg-0">
        <div class="col">
          <input type="search" value="" placeholder="Find us near you" id="example-search-input4"
            class="form-control border-secondary border-right-0 rounded-0" style="
              border-color: #fefefe !important;
              border-top-left-radius: 5px !important;
              border-bottom-left-radius: 5px !important;
              background: #fefefe !important;
              border: 0.5px solid #dcdcdc !important;
              padding: 28px;
              box-shadow: 9px 20px 32px #f0f0f0;
              border-right: none !important;
            " />
        </div>
        <div class="col-auto">
          <button type="button" class="btn btn-outline-secondary border-left-0 rounded-0 rounded-right" style="
              line-height: 44px;
              border-top-right-radius: 5px !important;
              border-bottom-right-radius: 5px !important;
              background: #fefefe !important;
              border: 0.5px solid #dcdcdc !important;
              border-left: none !important;
            ">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer> </app-footer>