<app-header> </app-header>
<style>
  p {
    text-align: left !important;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-align: center !important;
  }
</style>
<section class="process mt-0 pt-3 pb-2 marginTopSet" style="margin-top: 100px ">
  <div class="container">
    <div class="">
      <div class="title-page-white w-100">
        <div class="blogsNewsProcess justify-content-between mt-5">
          <p class="mb-1 text-center d-none" style="color: #3da2ac !important; font-weight: 600; font-size: 15px">
            Blogs And News
          </p>
          <h1 class="mb-4 text-center blogTitleMobile" style="font-weight: 700; font-size: 40px">
            {{ blogsNews[0].title }}
          </h1>
          <h4 class="mb-4 text-center blogSubTitleMobile" style="font-weight: 700; font-size: 28px">
            {{ blogsNews[0].sub_title }}
          </h4>

          <p class="mb-lg-5 marginBottomSet text-center" style="font-size: 18px; text-align: center !important">
            Posted On: {{ blogsNews[0].createdAt | date : "dd-MM-yyyy" }}
          </p>
          <img src="assets/{{ blogsNews[0].image }}" class="card-img-top" alt="..." />

          <div class="mt-lg-4 blogDescription" [innerHTML]="blogsNews[0].Description"></div>

          <div class="mt-4">
            <h4 class="mb-lg-4 text-center d-flex justify-content-center marginBottomLink"
              style="font-weight: 700; font-size: 22px; cursor: pointer">
              Share :
              <span (click)="shareOnFacebook()"><i class="fa fa-facebook ml-3" style="color: #3b5998"></i></span><span
                (click)="shareOnWhatsApp()">
                <!-- <a href="" data-action="share/whatsapp/share" target="_blank"> -->
                <i class="fa fa-whatsapp ml-3" style="color: #128c7e"></i>
                <!-- </a> --> </span><span (click)="shareOnTwitter()"><i class="fa fa-twitter ml-3"
                  style="color: #00acee"></i></span>
            </h4>
          </div>

          <!-- <div class="col-lg-3 ">
				<a [routerLink]="['/sub_products']"><div class="card">
				<img src="assets/2-Space-Dividers.webp" class="card-img-top" alt="...">
				<div class="card-body">
				<h5 class="card-title p_all_text_set card_header" >Space Dividers</h5>
				
				<p class="card-text text-left p_all_text_set d-none"><a href="#" class="set_link" >BLOG</a>
				</p>
			</div>
		</div>
		</a>
	</div>
	<div class="col-lg-3 ">
		<a [routerLink]="['/sub_products']"><div class="card">
		<img src="assets/3-Acoustics.webp" class="card-img-top" alt="...">
		<div class="card-body">
		<h5 class="card-title p_all_text_set card_header" >Acoustics</h5>
		
		<p class="card-text text-left p_all_text_set d-none"><a href="#" class="set_link" >BLOG</a>
		</p>
	</div>
	</div>
	</a>
	</div>
	<div class="col-lg-3 ">
		<a [routerLink]="['/sub_products']"><div class="card">
		<img src="assets/4-Accessories-_-Lighting.webp" class="card-img-top" alt="...">
		<div class="card-body">
		<h5 class="card-title p_all_text_set card_header" >Accessories & Lighting</h5>
		
		<p class="card-text text-left p_all_text_set d-none"><a href="#" class="set_link" >BLOG</a>
		</p>
	</div>
	</div>
	</a>
	</div> -->
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer> </app-footer>