.process {
  /* background: #E8741D; */
  padding-top: 60px;
  padding-bottom: 80px;
  margin-top: 20px;
}
.title_set {
  font-style: 800 !important;
  font-size: 40px;
}
.hr_draw {
  border: none;
  color: #fecc00;
  width: 284px;
  height: 3px;
  margin-top: 0%;
}

.p_all_text_set {
  font-size: 16px;
  font-weight: 400;
  width: 100%;
}

.accordion-item {
  border: none;
  border-bottom: 1px solid gainsboro;
}

.accordion-button:not(.collapsed) {
  color: #000;
  background-color: transparent !important;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 0%) !important;
  border-bottom: 1px solid gainsboro;
}

.accordion-button:focus {
  z-index: 3;
  background-color: transparent !important;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 0%) !important;
  outline: 0;
}

.accordion-button:not(.collapsed)::after {
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: auto;
  content: "";
  background-image: url("../../assets/down icon.svg") !important;
  background-repeat: no-repeat;
  background-size: 1.25rem;
  transition: transform 0.2s ease-in-out;
}

.accordion-button::after {
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: auto;
  content: "";
  background-image: url("../../assets/down icon.svg");
  background-repeat: no-repeat;
  background-size: 1.25rem;
  transition: transform 0.2s ease-in-out;
}

.accordion-button:not(.collapsed) {
  color: #000;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  background-color: transparent !important;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 0%) !important;
  border-bottom: 0px solid gainsboro !important;
}

.accordion-button,
.accordion-button:focus {
  color: #000;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  background-color: transparent !important;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 0%) !important;
  border-bottom: 0px solid gainsboro !important;
}

.small_font_set {
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  padding: 0rem 1.25rem;
  cursor: pointer;
}

.accordion-item-border {
  border: 1px solid gainsboro !important;
  margin-bottom: 15px;
}
.acc_button::after {
  top: 40px;
  position: relative;
}

.apply-btn {
  display: block;
  background: transparent;
  border: 2px solid #000;
  color: #000;
  text-align: center;
  padding: 13px 11px !important;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  width: 17%;
}

.apply-btn:hover {
  outline: none;
  cursor: pointer;
  transition: all 0.15s;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-appearance: none;
  appearance: none;
  color: #fff;
  border-color: #fecc00;
  background-color: #fecc00;
}

/* Adding new css  */
