<!-- <div class="page-loader-wrapper">
    <div class="loader">
    </div>
</div> -->
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- Bootstrap Core and vandor -->
    <style>
      @import url(https://fonts.googleapis.com/css?family=Roboto);

      .swal2-html-container {
        white-space: break-spaces !important;
        font-size: 15px;
      }

      .brand-name-margin-set {
        margin-left: 65px !important;
      }
      .sidebar_dark.offcanvas-active #header_top {
        background-color: #004660 !important;
      }
      .padding_left_css {
        padding: 5px 15px 5px 65px !important;
      }
      .datepicker {
        padding-left: 23px !important;
      }
      .itemDisplayNone {
        display: block;
      }

      .customer-photo {
        display: inline-block;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-size: 32px 35px;
        background-position: center center;
        vertical-align: middle;
        line-height: 32px;
        box-shadow: inset 0 0 1px #999, inset 0 0 10px rgba(0, 0, 0, 0.2);
        margin-left: 5px;
      }

      .customer-name {
        display: inline-block;
        vertical-align: middle;
        line-height: 32px;
        padding-left: 3px;
      }
    </style>
  </head>

  <body class="font-montserrat sidebar_dark">
    <title>Dashboard</title>

    <div id="main_content">
      <app-admin-sidebar></app-admin-sidebar>
      <div class="page">
        <app-admin-header></app-admin-header>
        <section class="process mt-0 pt-3 pb-10 h-100 card shadow">
          <div class="container">
            <div class="row">
              <div class="title-page-white text-center w-100">
                <div class="d-flex justify-content-between">
                  <h2 class="title_set" style="font-weight: 500">Products</h2>
                  <div class="button">
                    <button class="btn btn-outline-primary">Delete</button>
                    <button class="btn btn-primary ml-3">
                      Add Category <i class="fa-solid fa-plus"></i>
                    </button>
                  </div>
                </div>

                <p class="p_all_text_set mb-4 d-none" style="font-size: 19px">
                  Browse our range today to elevate your workspace experience.
                </p>
                <div class="row justify-content-between mt-5">
                  <div class="col-lg-3">
                    <a [routerLink]="['/zest_product_detail']"
                      ><div class="card">
                        <img
                          src="assets/1 Booths  Pods.webp"
                          class="card-img-top"
                          alt="..."
                        />
                        <div class="card-body">
                          <h5 class="card-title p_all_text_set card_header">
                            Booths & Pods
                          </h5>

                          <p class="card-text text-left p_all_text_set d-none">
                            <a href="#" class="set_link">BLOG</a>
                          </p>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="col-lg-3">
                    <a [routerLink]="['/zest_product_detail']"
                      ><div class="card">
                        <img
                          src="assets/2-Space-Dividers.webp"
                          class="card-img-top"
                          alt="..."
                        />
                        <div class="card-body">
                          <h5 class="card-title p_all_text_set card_header">
                            Space Dividers
                          </h5>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="col-lg-3">
                    <a [routerLink]="['/zest_product_detail']"
                      ><div class="card">
                        <img
                          src="assets/3-Acoustics.webp"
                          class="card-img-top"
                          alt="..."
                        />
                        <div class="card-body">
                          <h5 class="card-title p_all_text_set card_header">
                            Acoustics
                          </h5>

                          <p class="card-text text-left p_all_text_set d-none">
                            <a href="#" class="set_link">BLOG</a>
                          </p>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="col-lg-3">
                    <a [routerLink]="['/zest_product_detail']"
                      ><div class="card">
                        <img
                          src="assets/4-Accessories-_-Lighting.webp"
                          class="card-img-top"
                          alt="..."
                        />
                        <div class="card-body">
                          <h5 class="card-title p_all_text_set card_header">
                            Accessories & Lighting
                          </h5>

                          <p class="card-text text-left p_all_text_set d-none">
                            <a href="#" class="set_link">BLOG</a>
                          </p>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <script
      src="assets/assets/bundles/lib.vendor.bundle.js"
      loading="lazy"
    ></script>

    <script
      src="assets/assets/bundles/apexcharts.bundle.js"
      loading="lazy"
    ></script>
    <script
      src="assets/assets/bundles/counterup.bundle.js"
      loading="lazy"
    ></script>
    <script
      src="assets/assets/bundles/knobjs.bundle.js"
      loading="lazy"
    ></script>
    <script src="assets/assets/bundles/c3.bundle.js" loading="lazy"></script>

    <script src="assets/assets/js/core.js" loading="lazy"></script>
    <script src="assets/assets/js/page/index.js" loading="lazy"></script>

    <script
      src="assets/assets/plugins/sweetalert/sweetalert.min.js"
      loading="lazy"
    ></script>
    <script
      src="assets/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"
      loading="lazy"
    ></script>
    <script
      src="assets/assets/plugins/dropify/js/dropify.min.js"
      loading="lazy"
    ></script>

    <script src="assets/assets/js/page/dialogs.js" loading="lazy"></script>
    <script src="assets/assets/js/form/dropify.js" loading="lazy"></script>

    <script
      src="assets/assets/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"
      loading="lazy"
    ></script>
    <script
      src="assets/assets/plugins/bootstrap-multiselect/bootstrap-multiselect.js"
      loading="lazy"
    ></script>
    <script
      src="assets/assets/plugins/multi-select/js/jquery.multi-select.js"
      loading="lazy"
    ></script>
    <script
      src="assets/assets/plugins/jquery.maskedinput/jquery.maskedinput.min.js"
      loading="lazy"
    ></script>
    <script
      src="assets/assets/plugins/jquery-inputmask/jquery.inputmask.bundle.js"
      loading="lazy"
    ></script>
    <script
      src="assets/assets/plugins/dropify/js/dropify.min.js"
      loading="lazy"
    ></script>
    <script src="assets/assets/plugins/parsleyjs/js/parsley.min.js"></script>
    <script src="assets/assets/bundles/lib.vendor.bundle.js"></script>

    <script src="assets/assets/js/sweetalert.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.4.0/jszip.js"></script>
    <script src="https://kendo.cdn.telerik.com/2022.3.1109/js/kendo.all.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>

    <script src="assets/assets/js/core.js" loading="lazy"></script>
    <script
      src="assets/assets/js/form/form-advanced.js"
      loading="lazy"
    ></script>

    <script src="assets/assets/js/form/date_picker.js"></script>
    <script>
      $(document).on("click", ".btn_open_modal", function () {
        //  itemDisplayNone
        $(".open_show_popup").toggleClass("itemDisplayNone");
      });

      var date = new Date();
      $(".date_picker").datepicker({
        autoclose: true,
        format: "dd-mm-yyyy",
        viewMode: "date",
        minViewMode: "date",
        endDate: new Date(),
      });

      $(".date_picker").focusout(function () {
        $(".date_of_birth_validation").addClass("d-none");
        $("#dateAndTime").css("border-color", "#ced4da");
      });
    </script>
  </body>
</html>
