<app-header> </app-header>
<section class="process" style="margin-top: 60px !important">
  <div class="container">
    <div class="row">
      <div class="title-page-white title-page-white-margin w-100 pt-4"></div>
    </div>
  </div>
</section>
<section class="process pt-0 paddingBottomOff">
  <div class="container">
    <div class="title-page-white text-left w-100">
      <h2 class="title_set" style="font-weight: 600">Introduction</h2>
      <p style="font-size: 16px; font-weight: 400" class="mt-lg-4">
        At Senses Akustik, we respect your privacy and are committed to
        protecting your personal information. This Privacy & Cookie Policy
        outlines how we collect, use, disclose, and protect your information
        when you visit our website and interact with our services.
      </p>
      <p style="font-size: 16px; font-weight: 400">
        Please note that our Policy is not applicable to any other websites that
        you may be able to access from the Site, each of which may have
        different data collection, storage, and use practices and policies than
        ours.
      </p>

      <h2 class="title_set mt-lg-5" style="font-weight: 600">
        Information Collection and Use
      </h2>
      <p style="font-size: 16px; font-weight: 400" class="mt-lg-4">
        We may collect personal information such as your name, email address,
        and contact details when you voluntarily provide it to us. We use this
        information to respond to your inquiries, process your orders, and
        provide you with a personalized experience on our website.
      </p>

      <h2 class="title_set mt-lg-5" style="font-weight: 600">
        Types of Information Collected
      </h2>

      <div class="row justify-content-center mt-lg-4 text-left">
        <div class="col-lg-12 ps-lg-5">
          <div class="col-lg-12 mt-0 ps-lg-4">
            <p style="font-size: 18px; font-weight: 400">
              <span style="font-weight: 600">1. Traffic Data : </span> We
              automatically track and collect the following categories of
              information when you visit our Site: (a) IP addresses; (b) domain
              servers; (c) types of computers accessing the Site; and (d) types
              of web browsers used to access the Site (collectively “Traffic
              Data”).
            </p>

            <p style="font-size: 18px; font-weight: 400">
              Traffic Data is anonymous information that does not personally
              identify you but is helpful for marketing purposes or for
              improving your experience on the Site.
            </p>

            <p style="font-size: 18px; font-weight: 400" class="mt-lg-4">
              <span style="font-weight: 600">2. Personal Information : </span>
              In order for you to access certain materials and services that we
              offer in connection with the Site, we require you to provide us
              with certain information that personally identifies you.
            </p>
            <p style="font-size: 18px; font-weight: 400">
              This Personal Information may include your name, contact number,
              e-mail address or even your CV.
            </p>

            <p style="font-size: 18px; font-weight: 400" class="mt-lg-4">
              <span style="font-weight: 600">3. Cookies : </span> To make our
              Site work properly, we sometimes place small data files called
              cookies on your device. Cookies are small text files that a
              website saves to your computer or mobile device when you visit a
              website. They enable a website to remember your actions and
              preferences over a period of time.
            </p>

            <p style="font-size: 18px; font-weight: 400">
              In general, we use cookies to collect information so that we can
              determine how to improve our Site by seeing which areas, features
              and products are most popular, to personalize the websites and
              improve website experience. Most browsers automatically accept
              cookies as the default setting. You can modify the setting to
              reject cookies or to prompt you before accepting a cookie from a
              website you visit by editing browser options. If you decide not to
              accept our cookies, you will still be able to access our Site, but
              you may not be able to use some of the Site’s features or Services
              and you may have a less satisfactory experience.
            </p>

            <p style="font-size: 18px; font-weight: 400" class="mt-lg-4">
              <span style="font-weight: 600">4. Web Beacons : </span> Web
              beacons are small, transparent graphic images that are delivered
              through a web browser or HTML email. Web beacons may include GIF
              or PNG images, pixels, javascript, or other tags, which are used
              to track user activity on a particular web page, or the viewing of
              a particular email. Web beacons may send this information directly
              to us, or to third parties we have approved to receive the
              information.
            </p>

            <p style="font-size: 18px; font-weight: 400" class="mt-lg-4">
              <span style="font-weight: 600">5. Do Not Track Requests : </span>
              Our Site does not respond to browser-based, Do Not Track requests
              or signals. However, we do not permit third parties to collect a
              consumer’s Personal Information while a consumer is on our Site.
            </p>
          </div>
        </div>
      </div>

      <h2 class="title_set mt-lg-5" style="font-weight: 600">
        Types of Information Collected
      </h2>

      <div class="row justify-content-center mt-lg-4 text-left">
        <div class="col-lg-12 ps-lg-5">
          <div class="col-lg-12 mt-0 ps-lg-4">
            <p style="font-size: 18px; font-weight: 400" class="mt-lg-0">
              <span style="font-weight: 600">1. Company Use of Information :
              </span>
              We may use Personal Information to send you information about our
              company or our products or services, or promotional material from
              some of our partners, or to contact you when necessary.
            </p>

            <p style="font-size: 18px; font-weight: 400" class="mt-lg-4">
              <span style="font-weight: 600">2. Information Sharing : </span> We
              may share your personal information with trusted third-party
              service providers who assist us in delivering our services, but we
              do not sell, trade, or rent your personal information to third
              parties without your consent.
            </p>
          </div>
        </div>
      </div>

      <h2 class="title_set mt-lg-5" style="font-weight: 600">Data Security</h2>
      <p style="font-size: 16px; font-weight: 400" class="mt-lg-4">
        Except as otherwise provided in this Privacy & Cookie Policy, we will
        keep your Personal Information private and will not share it with third
        parties, unless such disclosure is necessary to: (a) comply with a court
        order or other legal process; (b) protect our rights or property; or (c)
        enforce our Terms of Condition and Use or User Agreement.
      </p>
      <p style="font-size: 16px; font-weight: 400" class="mt-lg-4">
        Your Personal Information is stored on servers, and only those
        individuals who need access in order to do their jobs are allowed access
        to your Personal Information.
      </p>
      <p style="font-size: 16px; font-weight: 400" class="mt-lg-4">
        Any of our staff who violates our privacy and/or security policies is
        subject to disciplinary action, including possible termination and civil
        and/or criminal prosecution. We provide you with the capability to
        transmit your Personal Information via encrypted channels if you use a
        similarly equipped web browser.
      </p>

      <h2 class="title_set mt-lg-5" style="font-weight: 600">
        Changes to the Policy
      </h2>
      <p style="font-size: 16px; font-weight: 400" class="mt-lg-4">
        We may update this Privacy & Cookie Policy from time to time. The
        updated version will be posted on our website.
      </p>

      <p style="font-size: 16px; font-weight: 400" class="mt-lg-4">
        If you have any questions or concerns about our Privacy & Cookie Policy,
        please contact us at:
        <a href="mailto:info@sensesakustik.com"> info@sensesakustik.com</a>.
      </p>
    </div>
  </div>
</section>
<app-footer> </app-footer>