<app-header>
</app-header>
<section class="process mt-4 pt-0 pb-2 mb-0">
	<div class="container">
		<div class="row">
			<div class="title-page-white  w-100 pt-4">

			</div>
		</div>
	</div>
</section>
<section class="process mt-0 pt-3 pb-2">
	<div class="container">
		<div class="row">
			<div class="title-page-white text-center w-100">
				<h2 class="title_set " style="font-weight: 400;">
					404 PAGE NOT FOUND
				</h2>
				<h2 class="title_set mt-4" style="font-weight: 400;font-size: 22px;">
					The page you are looking for might be removed<br />or Temporarily unavailabel
				</h2>
				<button class="btn btn-dark mt-4" style="background-color: #94B8BD;
				border-color: #94B8BD;
				color: #fff;
				border-radius: 0px!important;
				padding: 16px;
				width: 22%;
			"><span style="font-weight: 600; font-size: 17px;"> Go To Homepage </span></button>

			</div>
		</div>
	</div>
</section>
<app-footer>
</app-footer>