<app-header>
</app-header>
<section class="process mt-5 pt-0 pb-4 mb-5" >
	<div class="container">
		<div class="row">
			<div class="title-page-white  w-100 pt-4">
				
			</div>
		</div>
	</div>
</section>
<section class="process mt-0 pt-3 pb-2">
	<div class="container">
		<div class="row">
			<div class="title-page-white text-center w-100">
				<div class="row justify-content-between mt-0 d-flex ">
					<div class="col-lg-7 ">
						<div class="card">
							<img src="assets/Group 92.png" class="card-img-top" alt="...">
						</div>
						<div class="row mt-3">
							<div class="col-lg-3">
								<img src="assets/Rectangle 102.png" class="card-img-top" alt="...">
							</div>
							<div class="col-lg-3">
								<img src="assets/Rectangle 130.png" class="card-img-top" alt="...">
							</div>
							<div class="col-lg-3">
								<img src="assets/Rectangle 131.png" class="card-img-top" alt="...">
							</div>
							<div class="col-lg-3">
								<img src="assets/Rectangle 132.png" class="card-img-top" alt="...">
							</div>
						</div>
					</div>
					<div class="col-lg-5 ">
						<div class="card" style="border: none!important;">
							<div class="card-body p-0 pl-3">
								<h5 class="card-title text-left p_all_text_set  card_header_set_header">
									Booths & Pods
								</h5>
								<p class="p-card-text text-left p_all_text_set">
									Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam
									felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.......
								</p>
								<p class="p-card-text  text-left p_all_text_set mt-2">
									Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam
									felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.......
								</p>
								<p class="p-card-text  text-left p_all_text_set mt-2">
									Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
								</p>
								<p class="card-text text-left p_all_text_set mt-2">
									<button class="btn btn-dark" style="background-color: #232026;">
										Get Quote
									</button>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="process mt-5 pt-4 pb-2">
	<div class="container">
		<div class="row">
			<div class="title-page-white text-center w-100">
				<h2 class="title_set " style="font-weight: 700;">
					The Best of both World
				</h2>
				<div class="col-lg-12 text-center mb-4">
					<hr class="hr_draw container"/>
				</div>
				<p class="p_all_text_set mb-4 pt-0">
					Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
					<br/>
					anim id est laborum. Sed ut perspicia tis unde omni od tempor incididunt ut labore.
				</p>
				<div class="row justify-content-between mt-5">
					<div class="col-lg-4 pl-0">
						<div class="card">
							<img src="assets/Vector.svg" class="card-img-top card-img-top-width mx-auto" alt="...">
							<div class="card-body">
								<h5 class="card-title p_all_text_set card_header">
									Memory foam for the perfect hug
								</h5>
								<p class="card-text text-center p_all_text_set">
									Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id.
								</p>
								<p class="card-text text-left p_all_text_set d-none">
									<a href="#" class="set_link">BLOG</a>
								</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 ">
						<div class="card">
							<img src="assets/Vector.svg" class="card-img-top card-img-top-width  mx-auto" alt="...">
							<div class="card-body">
								<h5 class="card-title p_all_text_set card_header">
									Memory foam for the perfect hug
								</h5>
								<p class="card-text text-center p_all_text_set">
									Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id.
								</p>
								<p class="card-text text-left p_all_text_set d-none">
									<a href="#" class="set_link">BLOG</a>
								</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 pr-0">
						<div class="card">
							<img src="assets/Vector.svg" class="card-img-top card-img-top-width mx-auto" alt="...">
							<div class="card-body">
								<h5 class="card-title p_all_text_set card_header">
									Booths & Pods
								</h5>
								<p class="card-text text-center p_all_text_set">
									Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id.
								</p>
								<p class="card-text text-left p_all_text_set d-none">
									<a href="#" class="set_link">BLOG</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="process mt-2 pt-4 pb-2" style="background: #EDF7F8!important;">
	<div class="container">
		<div class="row">
			<div class="title-page-white text-center w-100">
				<h2 class="title_set mt-3" style="font-weight: 700;">
					Snapshots
				</h2>
				<div class="col-lg-12 text-center mb-3">
					<hr class="hr_draw_Snapshots container"/>
				</div>
				<div class="row justify-content-center d-flex mt-5">
					<div class="col-lg-3 ">
						<div class="card bg-transparent">
							<img src="assets/snap_1.png" class="card-img-top card-img-top-width-snapshot mx-auto" alt="...">
						</div>
					</div>
					<div class="col-lg-3 ">
						<div class="card bg-transparent">
							<img src="assets/snap_2.png" class="card-img-top card-img-top-width-snapshot mx-auto" alt="...">
						</div>
					</div>
					<div class="col-lg-3 ">
						<div class="card bg-transparent">
							<img src="assets/snap_3.png" class="card-img-top card-img-top-width-snapshot mx-auto" alt="...">
						</div>
					</div>
				</div>
				<div class="row justify-content-center d-flex mt-4 mb-5">
					<div class="col-lg-3 ">
						<div class="card bg-transparent">
							<img src="assets/snap_4.png" class="card-img-top card-img-top-width-snapshot mx-auto" alt="...">
						</div>
					</div>
					<div class="col-lg-3 ">
						<div class="card bg-transparent">
							<img src="assets/snap_5.png" class="card-img-top card-img-top-width-snapshot mx-auto" alt="...">
						</div>
					</div>
					<div class="col-lg-3 ">
						<div class="card bg-transparent">
							<img src="assets/snap_6.png" class="card-img-top card-img-top-width-snapshot mx-auto" alt="...">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="process mt-2 pt-4 pb-2">
	<div class="container">
		<div class="row col-lg-12 d-flex mt-5">
			<div class="col-lg-4">
				<div class="title-page-white text-left w-100">
					<h2 class="title_set mt-3" style="font-weight: 700;">
						All your questions
					</h2>
					<div class=" text-left  mb-3">
						<hr class="hr_draw_all_you text-left"/>
					</div>
					<h2 class="title_set mt-3" style="font-weight: 700;">
						answered
					</h2>
					<div class="  mb-3">
						<hr class="hr_draw_ans text-left"/>
					</div>
				</div>
			</div>
			<div class="col-lg-8">
				<div class="row">
					<div class="accordion" id="accordionExample">
						<div class="accordion-item">
							<h2 class="accordion-header" id="headingOne">
								<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
									Project Images
								</button>
							</h2>
							<div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
								<div class="accordion-body p_all_text_set ">
									It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS
									transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the , though the transition does limit overflow.
								</div>
							</div>
						</div>
						<div class="accordion-item">
							<h2 class="accordion-header" id="headingTwo">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
									Documents
								</button>
							</h2>
							<div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
								<div class="accordion-body p_all_text_set ">
									It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS
									transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the , though the transition does limit overflow.
								</div>
							</div>
						</div>
						<div class="accordion-item">
							<h2 class="accordion-header" id="headingThree">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
									Finish
								</button>
							</h2>
							<div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
								<div class="accordion-body p_all_text_set ">
									It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS
									transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the , though the transition does limit overflow.
								</div>
							</div>
						</div>
						<div class="accordion-item">
							<h2 class="accordion-header" id="headingFour">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
									Environmental Document
								</button>
							</h2>
							<div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
								<div class="accordion-body p_all_text_set ">
									It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS
									transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the , though the transition does limit overflow.
								</div>
							</div>
						</div>
						<div class="accordion-item">
							<h2 class="accordion-header" id="headingFive">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
									Drawing/CAD
								</button>
							</h2>
							<div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
								<div class="accordion-body p_all_text_set ">
									It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS
									transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the , though the transition does limit overflow.
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="process mt-0 pt-4 pb-2">
	<div class="container">
		<div class="row">
			<div class="title-page-white text-center w-100">
				<div class="row justify-content-between mt-5">
					<div class="col-md-12">
						<div class="title-page-white text-center w-100">
							<h2 class="title_set " style="font-weight: 700;">
								You may also like...
							</h2>
							<div class="col-lg-12 text-center mb-4">
								<hr class="hr_draw_also_like container"/>
							</div>
						</div>
						<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="0">
							<!-- Carousel indicators -->
							<!-- Wrapper for carousel items -->
							<div class="carousel-inner">
								<div class="carousel-item active">
									<div class="row">
										<div class="col-sm-3">
											<div class="thumb-wrapper">
												<div class="img-box">
													<img src="./assets/snap_2.png" class="img-fluid" alt="">
												</div>
												<div class="thumb-content">
													<h4>
														Echo Punch
													</h4>
												</div>
											</div>
										</div>
										<div class="col-sm-3">
											<div class="thumb-wrapper">
												<div class="img-box">
													<img src="./assets/snap_2.png" class="img-fluid" alt="">
												</div>
												<div class="thumb-content">
													<h4>
														Echo Punch
													</h4>
												</div>
											</div>
										</div>
										<div class="col-sm-3">
											<div class="thumb-wrapper">
												<div class="img-box">
													<img src="./assets/snap_2.png" class="img-fluid" alt="">
												</div>
												<div class="thumb-content">
													<h4>
														Echo Punch
													</h4>
												</div>
											</div>
										</div>
										<div class="col-sm-3">
											<div class="thumb-wrapper">
												<div class="img-box">
													<img src="./assets/snap_2.png" class="img-fluid" alt="">
												</div>
												<div class="thumb-content">
													<h4>
														Echo Punch
													</h4>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="carousel-item">
									<div class="row">
										<div class="col-sm-3">
											<div class="thumb-wrapper">
												<div class="img-box">
													<img src="./assets/snap_2.png" class="img-fluid" alt="">
												</div>
												<div class="thumb-content">
													<h4>
														Echo Punch
													</h4>
												</div>
											</div>
										</div>
										<div class="col-sm-3">
											<div class="thumb-wrapper">
												<div class="img-box">
													<img src="./assets/snap_2.png" class="img-fluid" alt="">
												</div>
												<div class="thumb-content">
													<h4>
														Echo Punch
													</h4>
												</div>
											</div>
										</div>
										<div class="col-sm-3">
											<div class="thumb-wrapper">
												<div class="img-box">
													<img src="./assets/snap_2.png" class="img-fluid" alt="">
												</div>
												<div class="thumb-content">
													<h4>
														Echo Punch
													</h4>
												</div>
											</div>
										</div>
										<div class="col-sm-3">
											<div class="thumb-wrapper">
												<div class="img-box">
													<img src="./assets/snap_2.png" class="img-fluid" alt="">
												</div>
												<div class="thumb-content">
													<h4>
														Echo Punch
													</h4>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="carousel-item ">
									<div class="row">
										<div class="col-sm-3">
											<div class="thumb-wrapper">
												<div class="img-box">
													<img src="./assets/snap_2.png" class="img-fluid" alt="">
												</div>
												<div class="thumb-content">
													<h4>
														Echo Punch
													</h4>
												</div>
											</div>
										</div>
										<div class="col-sm-3">
											<div class="thumb-wrapper">
												<div class="img-box">
													<img src="./assets/snap_2.png" class="img-fluid" alt="">
												</div>
												<div class="thumb-content">
													<h4>
														Echo Punch
													</h4>
												</div>
											</div>
										</div>
										<div class="col-sm-3">
											<div class="thumb-wrapper">
												<div class="img-box">
													<img src="./assets/snap_2.png" class="img-fluid" alt="">
												</div>
												<div class="thumb-content">
													<h4>
														Echo Punch
													</h4>
												</div>
											</div>
										</div>
										<div class="col-sm-3">
											<div class="thumb-wrapper">
												<div class="img-box">
													<img src="./assets/snap_2.png" class="img-fluid" alt="">
												</div>
												<div class="thumb-content">
													<h4>
														Echo Punch
													</h4>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- Carousel controls -->
							<a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
							<i class="fa fa-angle-left"></i>
							</a>
							<a class="carousel-control-next" href="#myCarousel" data-slide="next">
							<i class="fa fa-angle-right"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<app-footer>
</app-footer>