<app-header>
</app-header>
<section class="process mt-4 pt-0 pb-2 mb-0" >
	<div class="container">
		<div class="row">
			<div class="title-page-white  w-100 pt-4">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<span class="breadcrumb-links"><a href="javascript:;">Home</a> &nbsp;  &gt; &nbsp; <a href="javascript:;">Products</a>  </span>
					</div>
			</div>
		</div>
	</div>
</section>
<section class="process mt-0 pt-3 pb-2">
	<div class="container">
		<div class="row">
			<div class="title-page-white text-center w-100">
				<h2 class="title_set " style="font-weight: 500;">
					Products
				</h2>
				<p class="p_all_text_set mb-2 mt-4" style="font-size:19px">
					Welcome to our collection of acoustics and agile furniture solutions,<br/> where form meets function to create a harmonious soundscape that<br/> enhances productivity and focus in dynamic work environments. Our <br/>contemporary designs combine exceptional quality with versatile and<br/> flexible solutions for modern workplaces.
				</p>
				<p class="p_all_text_set mb-4 d-none" style="font-size:19px">Browse our range today to elevate your workspace experience.
				</p>
				<div class="row justify-content-between mt-5">
					<div class="col-lg-3 ">
						<a [routerLink]="['/sub_products']"><div class="card">
						<img src="assets/1 Booths  Pods.webp" class="card-img-top" alt="...">
						<div class="card-body">
						<h5 class="card-title p_all_text_set card_header" >Booths & Pods</h5>
						
						<p class="card-text text-left p_all_text_set d-none"><a href="#" class="set_link" >BLOG</a>
						</p>
					</div>
				</div>
				</a>
			</div>
			<div class="col-lg-3 ">
				<a [routerLink]="['/sub_products']"><div class="card">
				<img src="assets/2-Space-Dividers.webp" class="card-img-top" alt="...">
				<div class="card-body">
				<h5 class="card-title p_all_text_set card_header" >Space Dividers</h5>
				
				<p class="card-text text-left p_all_text_set d-none"><a href="#" class="set_link" >BLOG</a>
				</p>
			</div>
		</div>
		</a>
	</div>
	<div class="col-lg-3 ">
		<a [routerLink]="['/sub_products']"><div class="card">
		<img src="assets/3-Acoustics.webp" class="card-img-top" alt="...">
		<div class="card-body">
		<h5 class="card-title p_all_text_set card_header" >Acoustics</h5>
		
		<p class="card-text text-left p_all_text_set d-none"><a href="#" class="set_link" >BLOG</a>
		</p>
	</div>
	</div>
	</a>
	</div>
	<div class="col-lg-3 ">
		<a [routerLink]="['/sub_products']"><div class="card">
		<img src="assets/4-Accessories-_-Lighting.webp" class="card-img-top" alt="...">
		<div class="card-body">
		<h5 class="card-title p_all_text_set card_header" >Accessories & Lighting</h5>
		
		<p class="card-text text-left p_all_text_set d-none"><a href="#" class="set_link" >BLOG</a>
		</p>
	</div>
	</div>
	</a>
	</div>
	</div>
	</div>
	</div>
	</div>
</section>

<section class="process mt-4 pt-5 pb-5 mb-0 d-none" style="margin-bottom: -160px!important;background: #F9F2F0!important;" >
	<div class="container">
		<div class="row">
			<div class="title-page-white text-center w-100">
				<h2 class="title_set " style="font-weight: 500;">
					Blogs and News
				</h2>
				
				<div class="row ml-auto mr-auto mt-5">
					<div id="owl-demo-new" class="owl-carousel owl-theme owl-theme-blog">
						<div class="item">
							<div class="row justify-content-between mt-0">
								<div class="col-lg-4 ">
									<div class="card" >
										<img src="assets/blog_1.jpeg" class="card-img-top" alt="...">
										<div class="card-body">
											<h5 class="card-title p_all_text_set text-left" style="font-weight: 600!important;font-size: 18px;">
												What's That Sound?
											</h5>
											<p class="card-text text-left p_all_text_set" style="font-size: 18px;">
												Acoustics in the workplace have a direct impact on the well-being and productivity of employees. Working in a
chaotic environment can be stressful and distracting. Therefore,it's important to achieve ...
											</p>
											<p class="card-text text-left p_all_text_set">
												<a href="#" class="set_link">View More</a>
											</p>
										</div>
									</div>
								</div>
								<div class="col-lg-4 " >
									<div class="card" >
										<img src="assets/blog_2.jpeg" class="card-img-top" alt="...">
										<div class="card-body">
											<h5 class="card-title p_all_text_set text-left" style="font-weight: 600!important;font-size: 18px;">
												The Impact of Colour in Office Design:
											</h5>
											<p class="card-text text-left p_all_text_set" style="font-size: 18px;">
												Has your business ever suffered with low productivity and nothing has ever seemed to work? Incentives,
bonuses, team building activities – everything seems to fade after a point. What remains is the direct ...
											</p>
											<p class="card-text text-left p_all_text_set">
												<a href="#" class="set_link">View More</a>
											</p>
										</div>
									</div>
								</div>
								<div class="col-lg-4 " >
									<div class="card" >
										<img src="assets/blog_3.jpeg" class="card-img-top" alt="...">
										<div class="card-body">
											<h5 class="card-title p_all_text_set text-left" style="font-weight: 600!important;font-size: 18px;">Transform Your Waiting Room into an Inviting Space:
											</h5>
											<p class="card-text text-left p_all_text_set" style="font-size: 18px;">
												As the saying goes, "you never get a second chance to make a first impression." And for most businesses, the
waiting room is the first point of contact with clients. So why settle for a bland ...
											</p>
											<p class="card-text text-left p_all_text_set">
												<a href="#" class="set_link">View More</a>
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<app-footer>
</app-footer>