<ng-container *ngIf="isLoading; else normalScreen">
  <app-loader-products></app-loader-products>
</ng-container>

<ng-template #normalScreen>
  <app-header> </app-header>
  <section class="process" style="margin-top: 80px !important">
    <div class="container">
      <div class="row">
        <div class="title-page-white w-100 pt-4">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <span class="breadcrumb-links"
              ><a [routerLink]="['/']">Home</a> &nbsp; &gt; &nbsp;
              <a [routerLink]="['/products']">Products</a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="process pt-1">
    <div class="container">
      <div class="title-page-white text-center w-100">
        <h2 class="title_set hover_effect mb-3 mt-n3" style="font-weight: 500">
          Products
        </h2>
        <p class="p_all_text_set mb-2" style="font-size: 19px">
          Welcome to our collection of acoustics and agile furniture
          solutions,<br />
          where form meets function to create a harmonious soundscape that<br />
          enhances productivity and focus in dynamic work environments. Our
          <br />contemporary designs combine exceptional quality with versatile
          and<br />
          flexible solutions for modern workplaces.
        </p>
        <p class="p_all_text_set mb-4 d-none" style="font-size: 19px">
          Browse our range today to elevate your workspace experience.
        </p>
        <div class="row justify-content-between mt-5">
          <div class="col-lg-3" *ngFor="let getData of Data.data">
            <a
              (click)="sub_products(getData._id, getData.categoryName, getData)"
              style="cursor: pointer"
            >
              <div class="card">
                <div class="image-container text-center">
                  <img
                    src="assets/{{ getData.image }}"
                    class="card-img-top"
                    alt="..."
                  />

                  <div class="image-overlay"></div>
                </div>
                <div class="card-body">
                  <h5
                    class="card-title hover_effect text-center p_all_text_set card_header text-capitalize"
                  >
                    {{ getData.categoryName }}
                  </h5>

                  <p class="card-text text-left p_all_text_set d-none">
                    <a href="#" class="set_link">BLOG</a>
                  </p>
                </div>
              </div>
            </a>
          </div>
          <!-- <div class="col-lg-3 ">
				<a [routerLink]="['/sub_products']"><div class="card">
				<img src="assets/2-Space-Dividers.webp" class="card-img-top" alt="...">
				<div class="card-body">
				<h5 class="card-title p_all_text_set card_header" >Space Dividers</h5>
				
				<p class="card-text text-left p_all_text_set d-none"><a href="#" class="set_link" >BLOG</a>
				</p>
			</div>
		</div>
		</a>
	</div>
	<div class="col-lg-3 ">
		<a [routerLink]="['/sub_products']"><div class="card">
		<img src="assets/3-Acoustics.webp" class="card-img-top" alt="...">
		<div class="card-body">
		<h5 class="card-title p_all_text_set card_header" >Acoustics</h5>
		
		<p class="card-text text-left p_all_text_set d-none"><a href="#" class="set_link" >BLOG</a>
		</p>
	</div>
	</div>
	</a>
	</div>
	<div class="col-lg-3 ">
		<a [routerLink]="['/sub_products']"><div class="card">
		<img src="assets/4-Accessories-_-Lighting.webp" class="card-img-top" alt="...">
		<div class="card-body">
		<h5 class="card-title p_all_text_set card_header" >Accessories & Lighting</h5>
		
		<p class="card-text text-left p_all_text_set d-none"><a href="#" class="set_link" >BLOG</a>
		</p>
	</div>
	</div>
	</a>
	</div> -->
        </div>
      </div>
    </div>
  </section>

  <app-footer> </app-footer>
</ng-template>
