<app-header> </app-header>
<section class="process" style="margin-top: 80px !important">
  <div class="container">
    <div class="row">
      <div class="title-page-white w-100 pt-4"></div>
    </div>
  </div>
</section>
<section class="process pt-0">
  <div class="container">
    <div class="title-page-white text-left w-100">
      <h2 class="title_set" style="font-weight: 600; font-size: 36px">
        Terms of Use
      </h2>

      <h2 class="title_set mt-5" style="font-weight: 600">
        Agreement to the Terms of Use
      </h2>
      <p style="font-size: 16px; font-weight: 400" class="mt-4">
        ​​The website Is published and maintained by Senses Akustik Pvt. Ltd. By
        accessing or using the Website, you signify your acceptance and
        agreement to be bound by these Terms of Use. Please read them carefully.
        If you do not agree with these terms, please refrain from accessing or
        using the Website. By accessing or using the Website, you affirm that
        you are either over 18 years of age or have obtained legal parental or
        guardian consent and that you are fully competent to enter into these
        Terms of Use.
      </p>

      <h2 class="title_set mt-5" style="font-weight: 600">
        Amendments to the Terms of Use
      </h2>
      <p style="font-size: 16px; font-weight: 400" class="mt-4">
        We may revise and update these Terms of Use from time to time at our
        sole discretion. All changes are effective immediately as and when we
        post them and apply to all access to and use of the Website thereafter.
        Your continued use of the Website following the posting of the revised
        Terms of Use means that you accept and agree to the changes. You are
        expected to check this page frequently so you are aware of any changes.
      </p>

      <h2 class="title_set mt-5" style="font-weight: 600">
        Access, Responsibility, and Information Accuracy
      </h2>
      <p style="font-size: 16px; font-weight: 400" class="mt-4">
        ​We maintain the right to modify or discontinue the Website, as well as
        any services or materials provided, at our sole discretion, without
        prior notice. This includes the removal of outdated content and the
        rectification of technical inaccuracies or typographical errors. We
        shall not be held liable if any part or the entire Website becomes
        temporarily or permanently unavailable. Periodically, access to specific
        sections or the entire Website may be restricted.
      </p>

      <p style="font-size: 16px; font-weight: 400" class="mt-4">
        ​As the user, it is your responsibility to make the necessary
        arrangements to access the Website and to ensure that anyone accessing
        it through your internet connection is aware of and complies with these
        Terms of Use.
      </p>

      <p style="font-size: 16px; font-weight: 400" class="mt-4">
        To utilise the Website and its available resources, you may be required
        to provide registration details or other information. It is imperative
        that all information provided on the Website is accurate, up-to-date,
        and complete.
      </p>

      <p style="font-size: 16px; font-weight: 400" class="mt-4">
        By using the Website, you acknowledge that all information provided for
        registration or through interactive features is subject to our Privacy &
        Cookie Policy
        <a
          class="cursor-pointer"
          href="/privacy-cookie-policy"
          target="_blank"
          target="_blank"
          >[www.sensesakustik.com/Privacy&Cookie Policy]</a
        >. You consent to our handling of your information in accordance with
        the guidelines outlined in our
        <a
          class="cursor-pointer"
          href="/privacy-cookie-policy"
          target="_blank"
          target="_blank"
          >Privacy & Cookie Policy</a
        >.
      </p>

      <h2 class="title_set mt-5" style="font-weight: 600">
        Ownership and Intellectual Property
      </h2>
      <p style="font-size: 16px; font-weight: 400" class="mt-4">
        ​​All aspects of the Website, including its contents, features, and
        functionality (such as information, software, text, displays, images,
        video, audio, and their design and arrangement), are the exclusive
        property of the Company.
      </p>

      <h2 class="title_set mt-5" style="font-weight: 600">
        Permitted Use and Restrictions
      </h2>
      <p style="font-size: 16px; font-weight: 400" class="mt-4">
        These Terms of Use allow you to use the Website for personal,
        non-commercial purposes. You are prohibited from reproducing,
        distributing, modifying, creating derivative works, publicly displaying,
        performing, republishing, downloading, storing, or transmitting any
        materials from the Website, except for limited exceptions. These include
        temporary storage in RAM, caching by your web browser, and printing or
        downloading a reasonable number of pages for personal, non-commercial
        use. Any unauthorised use, including commercial purposes, is strictly
        prohibited and may result in the termination of your access to the
        Website. You must comply with all copyright, trademark, and other
        proprietary rights and may not alter or remove any such notices. The
        Company retains all rights, title, and interest in the Website and its
        content, and any unauthorised use may violate applicable laws.
      </p>

      <h2 class="title_set mt-5" style="font-weight: 600">
        Prohibited Activities
      </h2>
      <p style="font-size: 16px; font-weight: 400" class="mt-4">
        ​​You are granted access to the Website under the condition that you use
        it only for lawful purposes and in accordance with these Terms of Use.
        You are expressly prohibited from using the Website: (a) in violation of
        any applicable laws or regulations, both in India and internationally;
        (b) to transmit, receive, upload, download, or use any material that
        does not comply with the Content Standards outlined in these Terms of
        Use; (c) to engage in any activity that may disable, overburden, damage,
        disrupt, impair, or interfere with the proper functioning of the
        Website, or that restricts, inhibits, or impacts other users' ability to
        use and enjoy the Website; or (d) in a manner that infringes upon the
        privacy rights of other Website users.
      </p>

      <h2 class="title_set mt-5" style="font-weight: 600">
        Trademarks and Intellectual Property
      </h2>
      <p style="font-size: 16px; font-weight: 400" class="mt-4">
        The Company name, along with all associated names, logos, product and
        service names, designs, and slogans, are trademarks owned by the Company
        or its affiliates or licensors. Unauthorised use of these trademarks is
        strictly prohibited without prior written permission from the Company.
        Any other names, logos, product and service names, designs, and slogans
        found on this Website belong to their respective owners and are
        protected trademarks of their respective owners.
      </p>

      <h2 class="title_set mt-5" style="font-weight: 600">
        Protection of Copyrighted Material
      </h2>
      <p style="font-size: 16px; font-weight: 400" class="mt-4">
        We are committed to addressing copyright infringement claims in
        accordance with applicable law. If you believe that any User Content or
        other materials accessible on this Website infringe your copyright,
        please contact us at:
        <a href="mailto:info@sensesakustik.com"> info@sensesakustik.com</a> to
        request the removal or access to the infringing content.
      </p>

      <h2 class="title_set mt-5" style="font-weight: 600">
        Submission of User Content
      </h2>
      <p style="font-size: 16px; font-weight: 400" class="mt-4">
        By submitting any information, ideas, comments, suggestions, or other
        feedback (collectively, "Submissions"), except for personally
        identifiable information governed by our
        <a
          class="cursor-pointer"
          href="/privacy-cookie-policy"
          target="_blank"
          target="_blank"
          >Privacy & Cookie Policy</a
        >
        <a
          class="cursor-pointer"
          href="/privacy-cookie-policy"
          target="_blank"
          target="_blank"
          >[www.sensesakustik.com/Privacy&Cookie Policy]</a
        >, you acknowledge that such Submissions become our exclusive property
        and are non-confidential and non-proprietary. We have the right to use,
        modify, distribute, and disclose Submissions to third parties without
        any obligation to compensate you. While we are not obligated to use
        Submissions, we value your input.
      </p>

      <h2 class="title_set mt-5" style="font-weight: 600">
        Permissible Linking Guidelines
      </h2>
      <p style="font-size: 16px; font-weight: 400" class="mt-4">
        You are welcome to link to our homepage, provided that the linking is
        fair, legal, and does not harm our reputation or imply any association
        or endorsement. However, please refrain from: (a) linking from a website
        that you do not own; (b) displaying the Website through framing, deep
        linking, or in-line linking on any other site; (c) linking to any page
        other than the homepage; or (d) engaging in any actions inconsistent
        with these Terms of Use regarding the Website's materials.
      </p>

      <p style="font-size: 16px; font-weight: 400" class="mt-4">
        If we discover unauthorised framing or linking, we request your
        cooperation in promptly discontinuing such activities. We reserve the
        right to withdraw linking permission without notice and may disable any
        links at our discretion and without prior notice.
      </p>

      <h2 class="title_set mt-5" style="font-weight: 600">
        Third-Party Website Disclaimer
      </h2>
      <p style="font-size: 16px; font-weight: 400" class="mt-4">
        The Website may include links to third-party sites and resources for
        your convenience. These links, including advertisements such as banner
        ads and sponsored links, are provided solely for informational purposes.
        We have no control over the content of these linked sites or resources
        and assume no responsibility for them or any loss or damage resulting
        from your use of them. If you choose to access any third-party websites
        linked to this Website, you do so at your own risk and are subject to
        the terms and conditions of those websites.
      </p>

      <h2 class="title_set mt-5" style="font-weight: 600">
        Geographic Limitations
      </h2>
      <p style="font-size: 16px; font-weight: 400" class="mt-4">
        The Website is administered from the State of Gujarat in India, and is
        intended for access and use within India. We do not make any
        representation that the Website or its content is accessible or suitable
        for use outside of India. Accessing the Website from locations outside
        India may be prohibited by certain laws or regulations. If you choose to
        access the Website from outside India, you do so at your own initiative
        and are responsible for compliance with local laws to the extent
        permitted by applicable law.
      </p>

      <h2 class="title_set mt-5" style="font-weight: 600">
        No Warranty Statement
      </h2>
      <p style="font-size: 16px; font-weight: 400" class="mt-4">
        The Website, its content, and any services or items obtained through the
        Website are provided on an "as is" and "as available" basis, without any
        warranties of any kind. We expressly disclaim all warranties, whether
        express or implied, including but not limited to the warranties of
        merchantability, fitness for a particular purpose, and non-infringement
        to the fullest extent permitted by law. We make no representation or
        warranty regarding the completeness, security, accuracy, reliability,
        quality, availability, or operation of the Website or the content or
        services obtained through the Website. We do not guarantee that the
        Website will operate without interruption or errors, that any defects
        will be corrected, or that the Website or the server that makes it
        available is free of viruses or other harmful components. Furthermore,
        we cannot warrant that the Website will function or operate in
        conjunction with any other product or software, or meet your specific
        needs or expectations.
      </p>

      <h2 class="title_set mt-5" style="font-weight: 600">
        Exclusion of Liability
      </h2>
      <p style="font-size: 16px; font-weight: 400" class="mt-4">
        To the fullest extent permitted by law, the Company, its affiliates,
        licensors, service providers, employees, agents, officers, and directors
        shall not be liable for any damages of any kind, under any legal theory,
        arising out of or in connection with your use, or inability to use, the
        Website, any linked websites, the content on the Website or linked
        websites, or any services or items obtained through the Website or
        linked websites. This includes direct, indirect, special, incidental,
        consequential, or punitive damages, such as loss of revenue, loss of
        profits, loss of business or anticipated savings, loss of use, loss of
        goodwill, and loss of data, regardless of whether the damages are caused
        by tort (including negligence), breach of contract, or otherwise, even
        if foreseeable.
      </p>

      <h2 class="title_set mt-5" style="font-weight: 600">Indemnification</h2>
      <p style="font-size: 16px; font-weight: 400" class="mt-4">
        To the extent permitted by applicable law, you agree to defend,
        indemnify, and hold harmless the Company, its affiliates, licensors, and
        service providers, as well as its and their respective officers,
        directors, employees, agents, successors, and assigns, from and against
        any claims, liabilities, damages, judgments, awards, losses, costs,
        expenses, or fees (including reasonable attorneys' fees) arising out of
        or relating to your violation of these Terms of Use or your use of the
        Website. This includes claims related to your User Content, any
        unauthorised use of the Website's content, services, and products, or
        your use of any information obtained from the Website.
      </p>

      <h2 class="title_set mt-5" style="font-weight: 600">
        Legal Jurisdiction and Applicable Law
      </h2>
      <p style="font-size: 16px; font-weight: 400" class="mt-4">
        All matters relating to the Website and these Terms of Use, including
        any disputes or claims arising therefrom or related thereto (including
        non-contractual disputes or claims), shall be governed by and construed
        in accordance with the Law and Legal System of India.
      </p>
      <p style="font-size: 16px; font-weight: 400" class="mt-4">
        Any legal suit, action, or proceeding arising out of or related to these
        Terms of Use or the Website shall be exclusively instituted in the High
        Courts of India or Courts in the State of Gujarat in India. However, we
        reserve the right to bring any suit, action, or proceeding against you
        for breach of these Terms of Use in your country of residence or any
        other relevant country if different from India. By using the Website,
        you waive any objections to the exercise of jurisdiction by such courts
        and agree to the seat and venue in such courts.
      </p>

      <h2 class="title_set mt-5" style="font-weight: 600">
        Waiver and Provision Enforcement
      </h2>
      <p style="font-size: 16px; font-weight: 400" class="mt-4">
        No waiver by the Company of any term or condition set forth in these
        Terms of Use shall be deemed a further or continuing waiver of such term
        or condition or a waiver of any other term or condition. Furthermore,
        any failure of the Company to assert a right or provision under these
        Terms of Use shall not constitute a waiver of such right or provision.
      </p>

      <p style="font-size: 16px; font-weight: 400" class="mt-4">
        In the event that any provision of these Terms of Use is held by a court
        or other tribunal of competent jurisdiction to be invalid, illegal, or
        unenforceable for any reason, such provision shall be eliminated or
        limited to the minimum extent necessary so that the remaining provisions
        of the Terms of Use will continue in full force and effect.
      </p>

      <h2 class="title_set mt-5" style="font-weight: 600">
        Consolidated Terms
      </h2>
      <p style="font-size: 16px; font-weight: 400" class="mt-4">
        These Terms of Use constitute the sole and entire agreement between you
        and the Company regarding the Website, and they supersede all prior and
        contemporaneous understandings, agreements, representations, and
        warranties, whether written or oral, pertaining to the Website.
      </p>
    </div>
  </div>
</section>
<app-footer> </app-footer>
