<app-header> </app-header>
<header>
  <div
    id="carouselExampleIndicators"
    class="carousel slide"
    data-ride="carousel"
    style="position: relative"
  >
  <ol class="carousel-indicators home_caro">
    <li
      *ngFor="let image of Data.data; let i = index"
      [attr.data-target]="'#carouselExampleIndicators'"
      [attr.data-slide-to]="i"
      [class.active]="i === 0"
    ></li>
  </ol>
  <div class="carousel-inner">
    <div
      class="carousel-item get_text active"
      *ngFor="let getData of Data.data; let i = index"
      [class.active]="i === 0"
    >
      <img
        class="d-block w-100"
        src="assets/{{ getData.image | htmlToPlaintext }}"
        alt="First slide"
        style="height: 700px"
      />
      <div
        class="carousel-caption d-none d-md-block"
        style="text-align: initial"
      >



        <h3 style="font-weight: 500; font-size: 36px" class="text-left">
          {{ getData.title }}
        </h3>
        <p style="font-size: 20px;width: 52%;" class="text-left">
          {{ getData.description }}
        </p>
        <a href="#" class="btn btn_set_css text-left">Learn More</a>
      </div>
    </div>
  </div>
    <!-- <ol class="carousel-indicators home_caro">
      <li
        data-target="#carouselExampleIndicators"
        data-slide-to="0"
        class="active"
      ></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item get_text active">
        <img
          class="d-block w-100"
          src="assets/1 Hex.webp"
          alt="First slide"
          style="height: 780px"
        />
        <div
          class="carousel-caption d-none d-md-block"
          style="text-align: initial"
        >
          <h3 style="font-weight: 500; font-size: 36px" class="text-left">
            Introducing Hex
          </h3>
          <p style="font-size: 20px" class="text-left">
            The perfect way to add some privacy and style to your space.
          </p>
          <a href="#" class="btn btn_set_css text-left">Learn More</a>
        </div>
      </div>
      <div class="carousel-item get_text">
        <img
          class="d-block w-100"
          src="assets/2 Kolo.webp"
          alt="Second slide"
          style="height: 780px"
        />
        <div
          class="carousel-caption d-none d-md-block"
          style="text-align: initial"
        >
          <h3 style="font-weight: 500; font-size: 36px" class="text-left">
            Kolo - Office Pods Series
          </h3>
          <p style="font-size: 20px" class="text-left">
            Range of products designed to offer a protected <br />environment to
            speak in private or to focus on work.
          </p>
          <a href="#" class="btn btn_set_css text-left">Learn More</a>
        </div>
      </div>
      <div class="carousel-item get_text">
        <img
          class="d-block w-100"
          src="assets/3 Plush.webp"
          alt="Third slide"
          style="height: 780px"
        />
        <div
          class="carousel-caption d-none d-md-block"
          style="text-align: initial"
        >
          <h3 style="font-weight: 500; font-size: 36px" class="text-left">
            Shapes & Much More.
          </h3>
          <p style="font-size: 20px" class="text-left">
            Transform the acoustics of your space with Plush<br />
            - our stylish and versatile solution for walls and ceilings.
          </p>
          <a href="#" class="btn btn_set_css text-left">Learn More</a>
        </div>
      </div>
      <div class="carousel-item get_text">
        <img
          class="d-block w-100"
          src="assets/4 Breeze.webp"
          alt="Four slide"
          style="height: 780px"
        />
        <div
          class="carousel-caption d-none d-md-block"
          style="text-align: initial"
        >
          <h3 style="font-weight: 500; font-size: 36px" class="text-left">
            Ceiling Baffles & Clouds
          </h3>
          <p style="font-size: 20px" class="text-left">
            Bring Breeze of happiness and peace into your space.
          </p>
          <a href="#" class="btn btn_set_css text-left">Learn More</a>
        </div>
      </div>
      <div class="carousel-item get_text">
        <img
          class="d-block w-100"
          src="assets/5 Spark.webp"
          alt="Five slide"
          style="height: 780px"
        />
        <div
          class="carousel-caption d-none d-md-block"
          style="text-align: initial"
        >
          <h3 style="font-weight: 500; font-size: 36px" class="text-left">
            Movable Writing Surfaces
          </h3>
          <p style="font-size: 20px" class="text-left">
            Seamlessly combine mapping out a project, sharing ideas, <br />or
            working on a presentation. All on the move.
          </p>
          <a href="#" class="btn btn_set_css text-left">Learn More</a>
        </div>
      </div>
    </div> -->
    <!-- <a class="carousel-control-prev " href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon " aria-hidden="true" style="width: 40px!important;"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next " href="#carouselExampleIndicators" role="button" data-slide="next" style="    right: 0px!important;left: unset!important;">
          <span class="carousel-control-next-icon " aria-hidden="true" style="width: 40px!important;"></span>
          <span class="sr-only">Next</span>
        </a> -->
  </div>
</header>
<section class="process pb-4 pt-4">
  <div class="container" style="margin-top: inherit">
    <div class="row">
      <div class="title-page-white text-center w-100">
        <div class="set_data">
          <h2
            class="title_set hover_effect"
            style="font-weight: 500; margin-top: 2%"
          >
            Being Catalyst for a Positive Change
          </h2>
        </div>
        <div class="col-lg-12 text-center d-flex justify-content-center d-none">
          <hr class="hr_draw d-none" />
        </div>
        <p class="p_all_text_set mt-3">
          We design and produce innovative and sustainable furniture
          solutions<br />that aim to bring happiness and foster productivity in
          daily lives. Our<br />products are functional, ergonomic, and easily
          reconfigurable, ideal<br />for open office plans and dynamic work
          environments.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="process mt-0 pt-3 pb-2">
  <div class="container">
    <div class="row">
      <div class="title-page-white text-center w-100">
        <h2 class="title_set" style="font-weight: 500">
          Our Top Picks for the Modern Workspace
        </h2>
        <div class="col-lg-12 text-center mb-4 d-flex justify-content-center">
          <hr class="hr_draw_product d-none" />
        </div>
        <div class="row ml-auto mr-auto" style="width: 100%">
          <div class="col-lg-4 text-center">
            <div class="con_design">
              <img
                src="assets/{{ firstFeaturedProduct.image }}"
                class="item-img"
                style="width: 98.3%; border-radius: 15px"
              />
              <div class="overlay">
                <span style="font-weight: 800"
                  >{{ firstFeaturedProduct.name }}
                </span>
                - {{ firstFeaturedProduct.description }}
              </div>
            </div>
          </div>
          <div class="col-lg-8 text-center">
            <div class="row">
              <div class="col-lg-6">
                <div class="con_design">
                  <img
                    src="assets/{{ secondFeaturedProduct.image }}"
                    class="item-img"
                    style="width: 100%; border-radius: 15px"
                  />
                  <div class="overlay">
                    <span style="font-weight: 800">{{
                      secondFeaturedProduct.name
                    }}</span
                    >- {{ secondFeaturedProduct.description }}
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="con_design">
                  <img
                    src="assets/{{ thirdFeaturedProduct.image }}"
                    class="item-img"
                    style="width: 100%; border-radius: 15px"
                  />
                  <div class="overlay">
                    <span style="font-weight: 800"
                      >{{ thirdFeaturedProduct.name }}
                    </span>
                    - {{ thirdFeaturedProduct.description }}
                  </div>
                </div>
              </div>
            </div>
            <div class="text-center">
              <div class="con_design">
                <img
                  src="assets/{{ fourthFeaturedProduct.image }}"
                  class="item-img"
                  style="width: 100%; margin-top: 25px; border-radius: 15px"
                />
                <div class="overlay">
                  <span style="font-weight: 800"
                    >{{ fourthFeaturedProduct.name }}
                  </span>
                  - {{ fourthFeaturedProduct.description }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="process mt-5 pt-2 pb-4">
  <div
    id="carouselExampleIndicators_new"
    class="carousel slide"
    data-ride="carousel"
    style="position: relative"
  >
    <ol class="carousel-indicators"></ol>
    <div class="carousel-inner">
      <div
        class="carousel-item get_text_slider active"
        data-count_val="1"
        data-text_h1="From Concept to Reality: A Look at Our Featured Projects"
        data-p_all_text_set="Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor."
        data-url="#1"
      >
        <img
          class="d-block w-100"
          src="assets/newslider.webp"
          alt="First slide"
          style="height: 720px; width: 65% !important; margin-left: auto"
        />
      </div>
      <div
        class="carousel-item get_text_slider"
        data-count_val="2"
        data-text_h1="From Concept to Reality: A Look at Our Featured Projects"
        data-p_all_text_set="Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor."
        data-url="#2"
      >
        <img
          class="d-block w-100"
          src="assets/newslider.webp"
          alt="Second slide"
          style="height: 720px; width: 65% !important; margin-left: auto"
        />
      </div>
      <div
        class="carousel-item get_text_slider"
        data-count_val="3"
        data-text_h1="From Concept to Reality: A Look at Our Featured Projects"
        data-p_all_text_set="Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor."
        data-url="#3"
      >
        <img
          class="d-block w-100"
          src="assets/newslider.webp"
          alt="Third slide"
          style="height: 720px; width: 65% !important; margin-left: auto"
        />
      </div>
    </div>
    <a
      class="carousel-control-prev left_right_click"
      href="#carouselExampleIndicators_new"
      role="button"
      data-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <span
      class="p_all_text_set"
      style="
        position: relative;
        top: -114px;
        padding: 15px;
        left: 6.4%;
        font-size: 26px;
        letter-spacing: 11px;
      "
      ><span class="text_number_change">1</span>/3</span
    >

    <a
      class="carousel-control-next left_right_click"
      href="#carouselExampleIndicators_new"
      role="button"
      data-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    <div class="row col-lg-4 bg-transparent featureSlider p-4">
      <p
        class="p_all_text_set h1_text_set"
        style="font-size: 2.5rem; width: 80%; line-height: 61px"
      >
        From Concept to Reality: A Look at Our Featured Projects
      </p>
      <p class="p_all_text_set p_text_set" style="font-size: 21px">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
        ligula eget dolor.
      </p>

      <p class="p_all_text_set mt-5">
        <a href="#" class="set_link p_text_button"
          ><button
            class="btn btn-success"
            style="
              background: transparent !important;
              border: 2px solid #000;
              color: black;
              font-size: 20px;
            "
          >
            View Project
          </button></a
        >
      </p>
    </div>
  </div>
</section>
<section class="process mt-5 pt-2 pb-4">
  <div class="container">
    <div class="title-page-white text-center w-100">
      <h2 class="title_set" style="font-weight: 500">Design & Culture</h2>

      <p class="p_all_text_set">
        At our company, we believe that great design is more than just
        aesthetics<br />- it's about creating spaces that inspire productivity
        and well-being. From<br />
        concept to completion, we collaborate closely with our clients to bring
        their<br />
        vision to life. Founded on collaboration, creativity, and respect.
        We're<br />
        passionate about what we do, and we work together to deliver
        exceptional<br />
        results for our clients.
      </p>
      <p class="card-text p_all_text_set d-none">
        <a href="#" class="set_link"
          ><button
            class="btn btn-success"
            style="
              background: #ffe786 !important;
              border-color: #ffe786;
              color: black;
            "
          >
            Read More...
          </button></a
        >
      </p>
    </div>
    <div class="row col-lg-12 mt-5">
      <div class="col-lg-4 text-center">
        <img
          src="assets/Mask group.png"
          class="item-img"
          style="width: 100%; border-radius: 15px"
        />
        <p class="p_all_text_set mt-4"></p>
      </div>
      <div class="col-lg-4 text-center">
        <img
          src="assets/Mask group.png"
          class="item-img"
          style="width: 100%; border-radius: 15px"
        />
        <p class="p_all_text_set mt-4">
          <a href="#1" class="set_link p_text_button"
            ><button
              class="btn btn-success"
              style="
                background: transparent !important;
                border: 2px solid #000 !important;
                color: black !important;
                font-size: 16px;
              "
            >
              View More
            </button></a
          >
        </p>
      </div>
      <div class="col-lg-4 text-center">
        <img
          src="assets/Mask group.png"
          class="item-img"
          style="width: 100%; border-radius: 15px"
        />
        <p class="p_all_text_set mt-4"></p>
      </div>
    </div>
    <div class="row col-lg-12 mt-2 text-center"></div>
  </div>
</section>
<section
  class="process mt-5 pt-3 pb-5"
  style="
    background: url(./assets/Sustainability.jpeg) no-repeat left border-box;
    background-size: cover;
    height: 780px;
  "
>
  <div class="container pt-4 pb-4">
    <div class="row">
      <div class="title-page-white text-center w-100">
        <div class="row mt-3 d-flex">
          <div class="col-lg-9" style="margin-top: 50px">
            <h2 class="title_set text-left text-white" style="font-weight: 500">
              Sustainability
            </h2>
            <div
              class="col-lg-12 text-center mb-4 d-flex justify-content-left pl-0"
            >
              <hr class="hr_draw_Sustainability text-white" />
            </div>
            <p class="p_all_text_set mb-4 text-left text-white">
              At our core, sustainability is a way of life. We strive to
              minimise our<br />
              environmental impact not just through responsible sourcing and
              <br />manufacturing practices, but also by reducing waste and
              conserving <br />resources in our daily operations. Our commitment
              to sustainability goes<br />
              beyond our own practices, as we also invest in renewable energy
              and<br />
              support environmental initiatives. By choosing to join us on this
              journey <br />towards a more sustainable future, you're not just
              making a positive<br />
              impact on the planet - you're also supporting a brand that values
              <br />responsible production, smart design, and mindful living.
            </p>
          </div>
          <div
            class="col-lg-3 d-flex justify-content-center align-items-end"
            style="padding-top: 520px"
          >
            <p class="p_all_text_set mt-5" style="text-align: end">
              <a href="#1" class="set_link p_text_button"
                ><button
                  class="btn btn-success"
                  style="
                    background: transparent !important;
                    border: 2px solid #fff !important;
                    color: white !important;
                    font-size: 22px;
                  "
                >
                  <i class="fa fa-book"></i> Sustainability Report 2023
                </button></a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="process mt-5 pt-0 pb-4">
  <div class="container">
    <div class="row">
      <div class="title-page-white w-100">
        <h2 class="title_set text-center" style="font-weight: 500">
          Trusted By Brands
        </h2>

        <div class="row ml-auto mr-auto mb-4 pt-2" style="width: 100%">
          <div class="col-lg-6 d-none">
            <p class="p_all_text_set">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
              commodo ligula eget dolor. Aenean massa. Cum sociis natoque
              penatibus et magnis dis parturient montes, nascetur ridiculus mus.
              Donec quam felis, ultricies nec, pellentesque eu, pretium quis,
              sem. Nulla consequat massa quis enim. massa quis enim.
            </p>
          </div>
          <div class="row">
            <div
              class="col-lg-12 row mt-0"
              style="
                display: flex;
                align-items: center;
                justify-content: center;
              "
            >
              <div class="col-lg-2 text-center">
                <img
                  src="assets/logo/Amazon.svg"
                  alt="Owl Image"
                  style="width: 80%"
                />
              </div>
              <div class="col-lg-2 text-center">
                <img
                  src="assets/logo/Cisco.svg"
                  alt="Owl Image"
                  style="width: 80%"
                />
              </div>
              <div class="col-lg-2 text-center">
                <img
                  src="assets/logo/DBS.svg"
                  alt="Owl Image"
                  style="width: 80%"
                />
              </div>
              <div class="col-lg-2 text-center">
                <img
                  src="assets/logo/Deloitte.svg"
                  alt="Owl Image"
                  style="width: 80%"
                />
              </div>
              <div class="col-lg-2 text-center">
                <img
                  src="assets/logo/Here Solutions.svg"
                  alt="Owl Image"
                  style="width: 80%"
                />
              </div>
              <div class="col-lg-2 text-center">
                <img
                  src="assets/logo/Ice.svg"
                  alt="Owl Image"
                  style="width: 80%"
                />
              </div>
            </div>
            <div
              class="col-lg-12 row mt-3"
              style="
                display: flex;
                align-items: center;
                justify-content: center;
              "
            >
              <div class="col-lg-2 text-center">
                <img
                  src="assets/logo/KPMG.svg"
                  alt="Owl Image"
                  style="width: 80%"
                />
              </div>
              <div class="col-lg-2 text-center">
                <img
                  src="assets/logo/Standard Chartered.svg"
                  alt="Owl Image"
                  style="width: 80%"
                />
              </div>
              <div class="col-lg-2 text-center">
                <img
                  src="assets/logo/Telstra.svg"
                  alt="Owl Image"
                  style="width: 80%"
                />
              </div>
              <div class="col-lg-2 text-center">
                <img
                  src="assets/logo/Wells Fargo.svg"
                  alt="Owl Image"
                  style="width: 80%"
                />
              </div>
              <div class="col-lg-2 text-center">
                <img
                  src="assets/logo/WeWork.svg"
                  alt="Owl Image"
                  style="width: 80%"
                />
              </div>
              <div class="col-lg-2 text-center">
                <img
                  src="assets/logo/Wipro.svg"
                  alt="Owl Image"
                  style="width: 80%"
                />
              </div>
            </div>
          </div>
          <div class="col-lg-6 text-center d-none">
            <div id="owl-demo" class="owl-carousel owl-theme owl-theme-logo">
              <div class="item">
                <div class="row">
                  <div class="col-lg-4">
                    <img
                      src="assets/google.svg"
                      alt="Owl Image"
                      style="width: 100%"
                    />
                  </div>
                  <div class="col-lg-4">
                    <img
                      src="assets/amazon.svg"
                      alt="Owl Image"
                      style="width: 100%"
                    />
                  </div>
                  <div class="col-lg-4">
                    <img
                      src="assets/icice.svg"
                      alt="Owl Image"
                      style="width: 100%"
                    />
                  </div>
                </div>
                <div class="row mt-4">
                  <div class="col-lg-4">
                    <img
                      src="assets/one_plus.svg"
                      alt="Owl Image"
                      style="width: 100%"
                    />
                  </div>
                  <div class="col-lg-4">
                    <img
                      src="assets/wipro.svg"
                      alt="Owl Image"
                      style="width: 100%"
                    />
                  </div>
                  <div class="col-lg-4">
                    <img
                      src="assets/tel.svg"
                      alt="Owl Image"
                      style="width: 100%"
                    />
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="row">
                  <div class="col-lg-4">
                    <img
                      src="assets/google.svg"
                      alt="Owl Image"
                      style="width: 100%"
                    />
                  </div>
                  <div class="col-lg-4">
                    <img
                      src="assets/amazon.svg"
                      alt="Owl Image"
                      style="width: 100%"
                    />
                  </div>
                  <div class="col-lg-4">
                    <img
                      src="assets/icice.svg"
                      alt="Owl Image"
                      style="width: 100%"
                    />
                  </div>
                </div>
                <div class="row mt-4">
                  <div class="col-lg-4">
                    <img
                      src="assets/one_plus.svg"
                      alt="Owl Image"
                      style="width: 100%"
                    />
                  </div>
                  <div class="col-lg-4">
                    <img
                      src="assets/wipro.svg"
                      alt="Owl Image"
                      style="width: 100%"
                    />
                  </div>
                  <div class="col-lg-4">
                    <img
                      src="assets/tel.svg"
                      alt="Owl Image"
                      style="width: 100%"
                    />
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="row">
                  <div class="col-lg-4">
                    <img
                      src="assets/google.svg"
                      alt="Owl Image"
                      style="width: 100%"
                    />
                  </div>
                  <div class="col-lg-4">
                    <img
                      src="assets/amazon.svg"
                      alt="Owl Image"
                      style="width: 100%"
                    />
                  </div>
                  <div class="col-lg-4">
                    <img
                      src="assets/icice.svg"
                      alt="Owl Image"
                      style="width: 100%"
                    />
                  </div>
                </div>
                <div class="row mt-4">
                  <div class="col-lg-4">
                    <img
                      src="assets/one_plus.svg"
                      alt="Owl Image"
                      style="width: 100%"
                    />
                  </div>
                  <div class="col-lg-4">
                    <img
                      src="assets/wipro.svg"
                      alt="Owl Image"
                      style="width: 100%"
                    />
                  </div>
                  <div class="col-lg-4">
                    <img
                      src="assets/tel.svg"
                      alt="Owl Image"
                      style="width: 100%"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section
  class="process mt-4 pt-3 pb-5 d-none"
  style="background: #fff7e3ad !important"
>
  <div class="container">
    <div class="row mt-5 pt-4" style="width: 100%">
      <div class="col-lg-5 text-center">
        <img
          src="assets/Artboard 1.png"
          class="item-img"
          style="width: 85%; border-radius: 15px"
        />
      </div>
      <div class="col-lg-7">
        <h2 class="title_set" style="font-weight: 700">Why they chose us?</h2>
        <hr class="hr_draw_why_choose" />
        <p class="p_all_text_set">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
          commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus
          et magnis dis parturient montes, nascetur ridiculus mus. Donec quam
          felis, ultricies
        </p>
        <div class="row pt-2">
          <div class="col-lg-1">
            <p class="round_set">1</p>
          </div>
          <div class="col-lg-11">
            <p class="round_set_text">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
              commodo ligula eget
            </p>
          </div>
        </div>
        <div class="row pt-2">
          <div class="col-lg-1">
            <p class="round_set">2</p>
          </div>
          <div class="col-lg-11">
            <p class="round_set_text">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
              commodo ligula eget
            </p>
          </div>
        </div>
        <div class="row pt-2">
          <div class="col-lg-1">
            <p class="round_set">3</p>
          </div>
          <div class="col-lg-11">
            <p class="round_set_text">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
              commodo ligula eget
            </p>
          </div>
        </div>
        <div class="row pt-2">
          <div class="col-lg-1">
            <p class="round_set">4</p>
          </div>
          <div class="col-lg-11">
            <p class="round_set_text">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
              commodo ligula eget
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section
  class="process mt-5 pt-0 pb-4 mb-5 d-none"
  style="background: #ffe78626"
>
  <div class="container">
    <div class="row">
      <div class="title-page-white w-100 pt-4">
        <h2 class="title_set text-center" style="font-weight: 700">
          Why you should to!
        </h2>
        <div class="col-lg-12 text-center mb-3 mt-4">
          <button type="submit" class="btn btn-outline-warning">
            Let's Talk
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<section
  class="process mt-4 pt-5 pb-5 mb-0"
  style="margin-bottom: -160px !important; background: #fff7e3ad !important"
>
  <div class="container">
    <div class="row">
      <div class="title-page-white text-center w-100">
        <h2 class="title_set" style="font-weight: 500">Blogs and News</h2>

        <div class="row ml-auto mr-auto mt-5">
          <div id="owl-demo-new" class="owl-carousel owl-theme owl-theme-blog">
            <div class="item">
              <div class="row justify-content-between mt-0">
                <div class="col-lg-4">
                  <div class="card">
                    <img
                      src="assets/blog_1.jpeg"
                      class="card-img-top"
                      alt="..."
                    />
                    <div class="card-body">
                      <h5
                        class="card-title p_all_text_set text-left"
                        style="font-weight: 600 !important; font-size: 18px"
                      >
                        What's That Sound?
                      </h5>
                      <p
                        class="card-text text-left p_all_text_set"
                        style="font-size: 18px"
                      >
                        Acoustics in the workplace have a direct impact on the
                        well-being and productivity of employees. Working in a
                        chaotic environment can be stressful and distracting.
                        Therefore,it's important to achieve ...
                      </p>
                      <p class="card-text text-left p_all_text_set">
                        <a href="#" class="set_link">View More</a>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="card">
                    <img
                      src="assets/blog_2.jpeg"
                      class="card-img-top"
                      alt="..."
                    />
                    <div class="card-body">
                      <h5
                        class="card-title p_all_text_set text-left"
                        style="font-weight: 600 !important; font-size: 18px"
                      >
                        The Impact of Colour in Office Design:
                      </h5>
                      <p
                        class="card-text text-left p_all_text_set"
                        style="font-size: 18px"
                      >
                        Has your business ever suffered with low productivity
                        and nothing has ever seemed to work? Incentives,
                        bonuses, team building activities – everything seems to
                        fade after a point. What remains is the direct ...
                      </p>
                      <p class="card-text text-left p_all_text_set">
                        <a href="#" class="set_link">View More</a>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="card">
                    <img
                      src="assets/blog_3.jpeg"
                      class="card-img-top"
                      alt="..."
                    />
                    <div class="card-body">
                      <h5
                        class="card-title p_all_text_set text-left"
                        style="font-weight: 600 !important; font-size: 18px"
                      >
                        Transform Your Waiting Room into an Inviting Space:
                      </h5>
                      <p
                        class="card-text text-left p_all_text_set"
                        style="font-size: 18px"
                      >
                        As the saying goes, "you never get a second chance to
                        make a first impression." And for most businesses, the
                        waiting room is the first point of contact with clients.
                        So why settle for a bland ...
                      </p>
                      <p class="card-text text-left p_all_text_set">
                        <a href="#" class="set_link">View More</a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer> </app-footer>
