header {
  position: relative;
  top: 0px;
}
header .item {
  height: 100vh;
}
header .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
header .item .cover {
  padding: 75px 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
}
header .item .cover .header-content {
  position: relative;
  padding: 56px;
  overflow: visible;
  margin-top: 100px !important;
}
.header-content {
  margin-top: 30px !important;
}
header .item .cover .header-content .line {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  border: 9px solid #fff;
  -webkit-clip-path: polygon(0 0, 60% 0, 36% 100%, 0 100%);
  clip-path: polygon(0 0, 60% 0, 36% 100%, 0 100%);
}
header .item .cover .header-content h2 {
  font-weight: 300;
  font-size: 35px;
  color: #fff;
}
header .item .cover .header-content h1 {
  font-size: 56px;
  font-weight: 600;
  margin: 5px 0 20px;
  word-spacing: 3px;
  color: #fff;
}
header .item .cover .header-content h4 {
  font-size: 24px;
  font-weight: 300;
  line-height: 36px;
  color: #fff;
}
header .owl-item.active h1 {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  animation-name: fadeInDown;
  animation-delay: 0.5s;
}
header .owl-item.active h2 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  animation-name: fadeInDown;
  animation-delay: 0.3s;
}
header .owl-item.active h4 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  animation-name: fadeInUp;
  animation-delay: 0.3s;
}
header .owl-item.active .line {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  animation-name: fadeInLeft;
  animation-delay: 0.3s;
}
header .owl-nav .owl-prev {
  position: absolute;
  left: 15px;
  top: 43%;
  opacity: 0;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  background: rgba(0, 0, 0, 0.5) !important;
  width: 40px;
  cursor: pointer;
  height: 40px;
  position: absolute;
  display: block;
  z-index: 1000;
  border-radius: 0;
}
header .owl-nav .owl-prev span {
  font-size: 1.6875rem;
  color: #fff;
}
header .owl-nav .owl-prev:focus {
  outline: 0;
}
header .owl-nav .owl-prev:hover {
  background: #000 !important;
}
header .owl-nav .owl-next {
  position: absolute;
  right: 15px;
  top: 43%;
  opacity: 0;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  background: rgba(0, 0, 0, 0.5) !important;
  width: 40px;
  cursor: pointer;
  height: 40px;
  position: absolute;
  display: block;
  z-index: 1000;
  border-radius: 0;
}
header .owl-nav .owl-next span {
  font-size: 1.6875rem;
  color: #fff;
}
header .owl-nav .owl-next:focus {
  outline: 0;
}
header .owl-nav .owl-next:hover {
  background: #000 !important;
}
header:hover .owl-prev {
  left: 0px;
  opacity: 1;
}
header:hover .owl-next {
  right: 0px;
  opacity: 1;
}

.process {
  top: -40px !important;
}

.title_set {
  font-style: 800 !important;
}
.hr_draw {
  border: none;
  color: #fecc00;
  width: 600px;
  height: 3px;
  margin-top: 0%;
  display: flex;
  justify-content: center;
}
.hr_draw_product {
  border: none;
  color: #fecc00;
  width: 680px;
  height: 3px;
  margin-top: 0%;
  display: flex;
  justify-content: center;
}

.hr_draw_product_design {
  border: none;
  color: #fecc00;
  width: 274px;
  height: 3px;
  margin-top: 0%;
  display: flex;
  justify-content: center;
}

.viewAllProducts {
  margin-top: 20px;
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: #94b8bd;
  border-color: #94b8bd;
  color: #fff;
  border-radius: 6px !important;
}
.viewAllImages {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: #94b8bd;
  border-color: #94b8bd;
  color: #fff;
  border-radius: 6px !important;
}

.hr_draw_blog {
  border: none;
  color: #fecc00;
  width: 390px;
  height: 3px;
  margin-top: 0%;
  display: flex;
  justify-content: center;
}

.hr_draw_Sustainability {
  border: none;
  color: #fecc00;
  width: 230px;
  height: 3px;
  margin-top: 0%;
  display: flex;
  justify-content: center;
}

.hr_draw_brand {
  border: none;
  color: #fecc00;
  width: 350px;
  height: 3px;
  margin-top: 0%;
  display: flex;
  justify-content: center;
}
.hr_draw_why_choose {
  border: none;
  color: #fecc00;
  width: 329px;
  height: 3px;
  margin-top: 0%;
  display: flex;
  justify-content: center;
}
/* Styling Pagination*/
.owl-theme-add .owl-controls .owl-page span {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  width: 100px;
  height: 5px;
  margin-left: 2px;
  margin-right: 2px;
  background: #ccc;
  border: none;
}

.owl-theme-add .owl-controls .owl-page.active span,
.owl-theme-add .owl-controls.clickable .owl-page:hover span {
  background: #3f51b5;
}

.owl-theme-blog .owl-controls .owl-page span {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  width: 100px;
  height: 5px;
  margin-left: 2px;
  margin-right: 2px;
  background: #ccc;
  border: none;
}

.owl-theme-blog .owl-controls .owl-page.active span,
.owl-theme-blog .owl-controls.clickable .owl-page:hover span {
  background: #3f51b5;
}

.round_set {
  background: #ffe786;
  text-align: center;
  border-radius: 50px;
  padding: 0;
  width: 32px;
  font-size: 18px;
  font-weight: 600;
  margin-top: 1px;
  padding: 2px;
}

.round_set_text {
  font-size: 17px;
  font-weight: 400;
  width: 100%;
}

.p_all_text_set {
  font-size: 19px;
  font-weight: 400;
  width: 100%;
}

.set_link {
  font-weight: 600;
  text-align: left !important;
  font-size: 18px;
  color: #de9a86cf;
}
.btn-outline-warning {
  border-color: #ffc107 !important;
  border: 3px solid #ffc107 !important;
  font-size: 18px !important;
}
.btn-outline-warning:hover {
  border-color: #ffc107 !important;
  border: 3px solid #ffc107 !important;
  font-size: 18px !important;
}

#owl-demo .item {
  margin: 3px;
}
#owl-demo .item img {
  display: block;
  width: 100%;
  height: auto;
}

.card {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border: 1px solid rgb(139 139 139 / 7%) !important;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  border-color: transparent !important;
  border-bottom: 3px solid #ffe786 !important;
  color: #000 !important;
  background: #ffe786 !important;
  padding: 15px 0px;
}
.nav-item {
  background: #edf7f8 !important;
  margin-left: 0.6em;
  margin-right: 0.6em;
}

.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
  border-color: transparent !important;
  border-bottom: 3px solid #ffe786 !important;
  color: #000 !important;
  background: #ffe786 !important;
  padding: 15px 0px;
}

.title_set_nav {
  font-style: 800 !important;
  color: #000;
  font-size: 17px;
}

.btn-success:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0px 0px 0px transparent !important;
}

.featureSlider {
  position: absolute;
  top: 8%;
  padding: 15px;
  left: 2.9%;
}

.carousel-control-next {
  right: auto;
  left: 5.2%;
}

.carousel-control-next-icon {
  background-image: url("../../assets/new_right.svg") !important;
}

.carousel-control-prev-icon {
  background-image: url("../../assets/new_left.svg") !important;
}
.carousel-control-prev {
  left: -50px !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: 50%/100% 100% no-repeat;
}
.carousel-control-prev,
.carousel-control-next {
  top: 490px;
}

.h1_text_set {
  color: #1c1417;
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.01rem;
}
.h1_text_set_new {
  color: #1c1417;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.01rem;
}

.p_text_set {
  color: #1c1417;
  font-size: 17px;
  font-weight: 400;
  line-height: 36px;
}

.home_caro li {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 10px; /* change width */
  height: 10px; /* change height */
  padding: 0;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #fff;
  background-clip: padding-box;
  border: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: 0.5;
  transition: opacity 0.6s ease;
  border-radius: 100%;
}

.home_caro li.active {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 10px;
  height: 10px;
  padding: 0;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #fc0 !important;
  background-clip: padding-box;
  border: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: 0.5;
  /* transition: opacity .1s ease; */

  width: 48px;
  height: 9px;
  transition: all 0.15s;
  border-radius: 12px;
}

.con_design {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.con_design:hover .overlay {
  opacity: 1;
}

.carousel-caption {
  position: absolute;
  right: 34%;
  bottom: 40px;
  left: 3%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
}

.btn_set_css {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0.9em 2em 0.75em;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  color: #fff;
  border: 1px solid #558de2;
  border-radius: 100px;
  background-color: #558de2;
  text-decoration: none;
  letter-spacing: 0.05em;
  white-space: nowrap;
  outline: none;
  cursor: pointer;
  transition: all 0.15s;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #fff;
  border-color: #fff;
  background-color: transparent;
}

.btn_set_css:hover {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0.9em 2em 0.75em;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  color: #fff;
  border: 1px solid #558de2;
  border-radius: 100px;
  background-color: #558de2;
  text-decoration: none;
  letter-spacing: 0.05em;
  white-space: nowrap;
  outline: none;
  cursor: pointer;
  transition: all 0.15s;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #fff;
  border-color: #fecc00;
  background-color: #fecc00;
}

.text_color_span::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background: #fecc00;
  transition: width 0.3s !important;
  top: 30px;
}

.text_color_span:hover::after {
  width: 100%;
  transition: width 0.3s;
}

.card-img-top {
  border-radius: 13px;
}

.hover_effect {
  display: inline-block;
  color: #000;
  text-decoration: none;
}
/* 
.hover_effect::after {
  content: '';
  display: block;
  width: 0;
  height: 3px;
  background:#FFCC00!important;
  transition: width .4s ease-in;
}

.hover_effect:hover::after {
  width: 100%;
  color:#FFCC00;
} */

.hover_effect:hover {
  color: #ffcc00 !important;
  background-size: 0 100%;
  animation: stripes 10s linear 1 forwards;
}
