<app-header> </app-header>

<section class="process" style="top: 25px; margin-top: 7% !important">
  <div class="container">
    <div class="row">
      <div class="title-page-white text-center w-100">
        <h2 class="title_set my-3" style="font-weight: 500">
          Introductory Note
        </h2>

        <p class="p_all_text_set" style="font-size: 19px">
          Step into our world and discover the inspiration you need to transform
          your space!<br />
          Our "Insights" page is your go-to destination for the latest trends,
          expert insights, and<br />
          captivating stories in the world of acoustics & furniture design. From
          stunning design<br />
          journeys to insightful case studies and interviews with top designers,
          we have <br />everything you need to unlock the full potential of your
          commercial space. Whether <br />you're an architect, designer, user or
          simply passionate about the built environment,<br />
          we're excited to welcome you to our community and share our passion
          for acoustic<br />
          furniture design with you. So, what are you waiting for? Start
          exploring now and see <br />what possibilities await!
        </p>
      </div>
    </div>
  </div>
</section>

<section class="process">
  <div class="title-page-white text-center w-100">
    <h2 class="title_set mb-3" style="font-weight: 500; color: black">
      Project Cases
    </h2>
  </div>
  <div
    id="carouselExampleIndicators_new"
    class="carousel slide"
    data-ride="carousel"
    style="position: relative"
  >
    <ol class="carousel-indicators"></ol>
    <div class="carousel-inner">
      <div
        class="carousel-item get_text_slider active"
        data-count_val="1"
        data-text_h1="From Concept to Reality: A Look at Our Featured Projects"
        data-p_all_text_set="Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor."
        data-url="#1"
      >
        <img
          class="d-block w-100"
          src="assets/newslider.webp"
          alt="First slide"
          style="height: 720px; width: 65% !important; margin-left: auto"
        />
      </div>
      <div
        class="carousel-item get_text_slider"
        data-count_val="2"
        data-text_h1="From Concept to Reality: A Look at Our Featured Projects"
        data-p_all_text_set="Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor."
        data-url="#2"
      >
        <img
          class="d-block w-100"
          src="assets/newslider.webp"
          alt="Second slide"
          style="height: 720px; width: 65% !important; margin-left: auto"
        />
      </div>
      <div
        class="carousel-item get_text_slider"
        data-count_val="3"
        data-text_h1="From Concept to Reality: A Look at Our Featured Projects"
        data-p_all_text_set="Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor."
        data-url="#3"
      >
        <img
          class="d-block w-100"
          src="assets/newslider.webp"
          alt="Third slide"
          style="height: 720px; width: 65% !important; margin-left: auto"
        />
      </div>
    </div>
    <a
      class="carousel-control-prev left_right_click"
      href="#carouselExampleIndicators_new"
      role="button"
      data-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <span
      class="p_all_text_set"
      style="
        position: relative;
        top: -114px;
        padding: 15px;
        left: 6.4%;
        font-size: 26px;
        letter-spacing: 11px;
      "
      ><span class="text_number_change">1</span>/3</span
    >

    <a
      class="carousel-control-next left_right_click"
      href="#carouselExampleIndicators_new"
      role="button"
      data-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    <div class="row col-lg-4 bg-transparent featureSlider p-4">
      <p
        class="p_all_text_set h1_text_set"
        style="font-size: 2.5rem; width: 80%; line-height: 61px"
      >
        From Concept to Reality: A Look at Our Featured Projects
      </p>
      <p class="p_all_text_set p_text_set" style="font-size: 21px">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
        ligula eget dolor.
      </p>

      <p class="p_all_text_set mt-5">
        <a href="#" class="set_link p_text_button"
          ><button
            class="btn btn-success"
            style="
              background: transparent !important;
              border: 2px solid #000;
              color: black;
              font-size: 20px;
            "
          >
            View Project
          </button></a
        >
      </p>
    </div>
  </div>
</section>

<section class="process" style="top: 50px !important">
  <div class="container">
    <div class="row">
      <div class="title-page-white text-center w-100">
        <h2 class="title_set mb-3" style="font-weight: 500">Blogs and News</h2>

        <div class="row ml-auto mr-auto">
          <div id="owl-demo-new" class="owl-carousel owl-theme owl-theme-blog">
            <div class="item">
              <div class="row justify-content-between mt-0">
                <div class="col-lg-4">
                  <div class="card">
                    <img
                      src="assets/blog_1.jpeg"
                      class="card-img-top"
                      alt="..."
                    />
                    <div class="card-body">
                      <h5
                        class="card-title p_all_text_set text-left"
                        style="font-weight: 600 !important; font-size: 18px"
                      >
                        What's That Sound?
                      </h5>
                      <p
                        class="card-text text-left p_all_text_set"
                        style="font-size: 18px"
                      >
                        Acoustics in the workplace have a direct impact on the
                        well-being and productivity of employees. Working in a
                        chaotic environment can be stressful and distracting.
                        Therefore,it's important to achieve ...
                      </p>
                      <p class="card-text text-left p_all_text_set">
                        <a href="#" class="set_link">View More</a>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="card">
                    <img
                      src="assets/blog_2.jpeg"
                      class="card-img-top"
                      alt="..."
                    />
                    <div class="card-body">
                      <h5
                        class="card-title p_all_text_set text-left"
                        style="font-weight: 600 !important; font-size: 18px"
                      >
                        The Impact of Colour in Office Design:
                      </h5>
                      <p
                        class="card-text text-left p_all_text_set"
                        style="font-size: 18px"
                      >
                        Has your business ever suffered with low productivity
                        and nothing has ever seemed to work? Incentives,
                        bonuses, team building activities – everything seems to
                        fade after a point. What remains is the direct ...
                      </p>
                      <p class="card-text text-left p_all_text_set">
                        <a href="#" class="set_link">View More</a>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="card">
                    <img
                      src="assets/blog_3.jpeg"
                      class="card-img-top"
                      alt="..."
                    />
                    <div class="card-body">
                      <h5
                        class="card-title p_all_text_set text-left"
                        style="font-weight: 600 !important; font-size: 18px"
                      >
                        Transform Your Waiting Room into an Inviting Space:
                      </h5>
                      <p
                        class="card-text text-left p_all_text_set"
                        style="font-size: 18px"
                      >
                        As the saying goes, "you never get a second chance to
                        make a first impression." And for most businesses, the
                        waiting room is the first point of contact with clients.
                        So why settle for a bland ...
                      </p>
                      <p class="card-text text-left p_all_text_set">
                        <a href="#" class="set_link">View More</a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="process">
  <div class="container">
    <div class="row">
      <div class="title-page-white w-100">
        <h2 class="title_set text-center" style="font-weight: 500">
          Trusted By Brands
        </h2>

        <div class="row ml-auto mr-auto mb-4 pt-2" style="width: 100%">
          <div class="col-lg-6 d-none">
            <p class="p_all_text_set">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
              commodo ligula eget dolor. Aenean massa. Cum sociis natoque
              penatibus et magnis dis parturient montes, nascetur ridiculus mus.
              Donec quam felis, ultricies nec, pellentesque eu, pretium quis,
              sem. Nulla consequat massa quis enim. massa quis enim.
            </p>
            <p class="p_all_text_set p_text_set">
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
				ligula eget dolor.
			</p>
            
             
              <p class="p_all_text_set mt-5 ">
                <a href="#" class="set_link p_text_button"><button class="btn btn-success" style="background:transparent!important;border:2px solid #000;color:black">View Project</button></a>
              </p>
            
          
</div>
      </div>
      </div>
      </div>
      </div>
      
</section> 


<section class="process mt-5 pt-2 pb-4">
	<div
	  id="carouselExampleIndicators_new"
	  class="carousel slide"
	  data-ride="carousel"
	  style="position: relative"
	>
	  <ol class="carousel-indicators"></ol>
	  <div class="carousel-inner">
		<div
		  class="carousel-item get_text_slider active"
		  data-count_val="1"
		  data-text_h1="From Concept to Reality: A Look at Our Featured Projects"
		  data-p_all_text_set="Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor."
		  data-url="#1"
		>
		  <img
			class="d-block w-100"
			src="assets/newslider.webp"
			alt="First slide"
			style="height: 720px; width: 65% !important; margin-left: auto"
		  />
		</div>
		<div class="carousel-item get_text_slider"
	   [attr.data-count_val]="i + 2"
	   [attr.data-text_h1]="dataProject.title"
	   [attr.data-id]="dataProject._id"
	   [attr.data-p_all_text_set]="dataProject.slide_discription.substr(0, 30) + '...'"
	   [attr.data-url]="'#' + i + 2"
	   *ngFor="let dataProject of FeaturedProjectdata; let i = index">
	<img class="d-block w-100"
		 src="assets/{{dataProject.image}}"
		 alt="Second slide"
		 style="height: 720px; width: 65% !important; margin-left: auto" />
  </div>
  
		<!-- <div
		  class="carousel-item get_text_slider"
		  data-count_val="3"
		  data-text_h1="From Concept to Reality: A Look at Our Featured Projects"
		  data-p_all_text_set="Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor."
		  data-url="#3"
		>
		  <img
			class="d-block w-100"
			src="assets/newslider.webp"
			alt="Third slide"
			style="height: 720px; width: 65% !important; margin-left: auto"
		  />
		</div> -->
	  </div>
	  <a
		class="carousel-control-prev left_right_click"
		href="#carouselExampleIndicators_new"
		role="button"
		data-slide="prev"
	  >
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	  </a>
	  <span
		class="p_all_text_set"
		style="
		  position: relative;
		  top: -114px;
		  padding: 15px;
		  left: 6.4%;
		  font-size: 26px;
		  letter-spacing: 11px;
		"
		><span class="text_number_change">1</span>/{{lengthCount + 1}}</span
	  >
  
	  <a
		class="carousel-control-next left_right_click"
		href="#carouselExampleIndicators_new"
		role="button"
		data-slide="next"
	  >
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	  </a>
	  <div class="row col-lg-4 bg-transparent featureSlider p-4">
		<p
		  class="p_all_text_set h1_text_set"
		  style="font-size: 2.5rem; width: 80%; line-height: 61px"
		>
		  From Concept to Reality: A Look at Our Featured Projects
		</p>
		<p class="p_all_text_set p_text_set" style="font-size: 21px">
		  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
		  ligula eget dolor.
		</p>
  
		<p class="p_all_text_set mt-5">
		  <a class="set_link p_text_button view_project"
			><button
			  class="btn btn-success"
			  style="
				background: transparent !important;
				border: 2px solid #000;
				color: black;
				font-size: 20px;
			  "
			>
			  View Project
			</button></a
		  >
  
		  
		</p>
	  </div>
	</div>
  </section>
<!-- <section class="process mt-5 pt-2 pb-4" style="top:50px !important;background:#ECF5F5!important;">
	
    <div id="carouselExampleIndicators_new" class="carousel slide" data-ride="carousel" style="position: relative;">
		<div class="carousel-indicators" style="bottom: -75px!important;
		background: transparent;">
			<div class="title-page-white text-center w-100">
				<h5 class="title_set " style="font-weight: 400;color:black">
					View All
				</h5>
				<div class="col-lg-12 text-center mb-4 d-flex justify-content-center">
					<hr class="hr_draw_blog "/>
				</div>
			</div>
		</div>
        <div class="carousel-indicators" style="top: 80px!important;">
			<div class="title-page-white text-center w-100">
				<h2 class="title_set " style="font-weight: 500;color:black">
					Project Cases
				</h2>
				<div class="col-lg-12 text-center mb-4 d-flex justify-content-center">
					<hr class="hr_draw_blog "/>
				</div>
			</div>
		</div>
        
		<div class="carousel-inner">
          <div class="carousel-item get_img active" data-src="./assets/about_us_image.jpg" data-text_h1="Lorem ipsum dolor sit amet," data-p_all_text_set="See how spaces can be transformed into functional and inviting environments through the power of effective space design. Our project cases provide real-life examples of how we've helped businesses create inspiring workplaces, collaborative meeting areas, and more." data-url="#1">
		  
            <div class="d-block w-100" alt="First slide" style="height: 720px;background:#ECF5F5!important"></div>
          </div>
          <div class="carousel-item get_img" data-src="./assets/about_us_image_two.jpg" data-text_h1="Lorem ipsum dolor sit amet," data-p_all_text_set="See how spaces can be transformed into functional and inviting environments through the power of effective space design. Our project cases provide real-life examples of how we've helped businesses create inspiring workplaces, collaborative meeting areas, and more." data-url="#2">

		  <div class="d-block w-100" alt="First slide" style="height: 720px;background:#ECF5F5!important"></div>
		</div>
          <div class="carousel-item get_img" data-src="./assets/about_us_image.jpg" data-text_h1="Lorem ipsum dolor sit amet," data-p_all_text_set="See how spaces can be transformed into functional and inviting environments through the power of effective space design. Our project cases provide real-life examples of how we've helped businesses create inspiring workplaces, collaborative meeting areas, and more."  data-url="#3">
		  <div class="d-block w-100" alt="First slide" style="height: 720px;background:#ECF5F5!important"></div>
		</div>
        </div>
        <a class="carousel-control-prev left_right_click_new" href="#carouselExampleIndicators_new" role="button" data-slide="prev" style="right: auto;left: 55.5%;display: none;">
          <span class="carousel-control-prev-icon " aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next  left_right_click_new" href="#carouselExampleIndicators_new" role="button" data-slide="next">
          <span class="carousel-control-next-icon left_right_click_new_icon " aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
        <div class="row col-lg-5 featureSlider p-4" >
        
				<img src="./assets/about_us_image_two.jpg" class="img_change"  style="width: 95%;"/>
          
</div>

<div class="row col-lg-5 featureSlider_left p-4" >
        
	<p class="p_all_text_set h1_text_set text-black">
		Lorem ipsum dolor sit amet,
	</p>
	<p class="p_all_text_set p_text_set text-black">
		See how spaces can be transformed into functional and inviting environments through the power of effective space design. Our project cases provide real-life examples of how we've helped businesses create inspiring workplaces, collaborative meeting areas, and more.
	</p>
	<a  href="#1" class="set_link p_text_button"><button  class="btn btn-success" style="background: transparent!important; border: 2px solid #000!important; color: black!important; font-size: 16px;">Share Project</button></a>
	
	 
	 
  
</div>
      </div>
     
</section> -->

<section class="process mt-0 pt-5 pb-5 mb-0" style="top:50px !important;;" >
	<div class="container">
		<div class="row">
			<div class="title-page-white text-center w-100">
				<h2 class="title_set " style="font-weight: 500;">
					Blogs and News
				</h2>
				
				<div class="row ml-auto mr-auto mt-5">
					<div id="owl-demo-new" class="owl-carousel owl-theme owl-theme-blog">
					  
					  <!-- <div class="carousel-inner"> -->
						<!-- <div class="item" *ngFor="let chunk of chunkArray(getAllBlogs.data, 3); let i = index" [ngClass]="{ 'active': i === 0 }">
						  <div class="row justify-content-between mt-0">
							<div class="col-lg-4" *ngFor="let getData of chunk">
							  <div class="card">
								<img src="{{ getData.image }}" class="card-img-top" alt="..." />
								<div class="card-body">
								  <h5 class="card-title p_all_text_set text-left" style="font-weight: 600 !important; font-size: 18px">
									{{ getData.title }}
								  </h5>
								  <p class="card-text text-left p_all_text_set" style="font-size: 18px">
									{{ getData.Description }}
								  </p>
								  <p class="card-text text-left p_all_text_set">
									<a href="#" class="set_link">View More</a>
								  </p>
								</div>
							  </div>
							</div>
						  </div>
						</div> -->
					  <!-- </div> -->
					  
					  <div class="item" *ngFor="let getData of getAllBlogs.data">
						<!-- <div class="row justify-content-between mt-0"> -->
						  <!-- <div class="col-lg-12" > -->
							<a (click)="blog_news_click(getData._id, getData.title)" style="cursor: pointer;"><div class="card">
							  <img
								src="assets/{{ getData.image }}"
								class="card-img-top"
								alt="..."
							  />
							  <div class="card-body">
								<h5
								  class="card-title p_all_text_set text-left"
								  style="font-weight: 600 !important; font-size: 18px"
								>
								{{ getData.title }}
								</h5>
								<p
								  class="card-text text-left p_all_text_set"
								  style="font-size: 18px"
								  [innerHtml]="getData.Description.substr(0, 30) + '...'">
								  
								</p>
								<p class="card-text text-left p_all_text_set">
								  <a class="set_link" (click)="blog_news_click(getData._id, getData.title)">View More</a>
								</p>
							  </div>
							<!-- </div> -->
						  <!-- </div> -->
						  
						  
						</div>
					</a>
					  </div>
					 
					</div>
				  </div>
			</div>
		</div>
	</div>
</section>
<!-- 
<section class="process mt-5 pt-2 pb-4 d-none" style="top:0px !important;background:#ECF5F5!important">
	
    <div id="carouselExampleIndicators_new" class="carousel slide" data-ride="carousel" style="position: relative;">
		<div class="carousel-indicators" style="bottom: -75px!important;
		background: transparent;">
			<div class="title-page-white text-center w-100">
				<h5 class="title_set " style="font-weight: 400;color:black">
					View All
				</h5>
				<div class="col-lg-12 text-center mb-4 d-flex justify-content-center">
					<hr class="hr_draw_blog "/>
				</div>
			</div>
		</div>
        <div class="carousel-indicators" style="top: 80px!important;">
			<div class="title-page-white text-center w-100">
				<h2 class="title_set " style="font-weight: 700;color:black">
					Design Journey
				</h2>
				<div class="col-lg-12 text-center mb-4 d-flex justify-content-center">
					<hr class="hr_draw_blog "/>
				</div>
			</div>
		</div>
        
		<div class="carousel-inner">
          <div class="carousel-item get_img active" data-src="./assets/about_us_image.jpg" data-text_h1="Lorem ipsum dolor sit amet," data-p_all_text_set="Lorem ipsum dolor sit amet, consectetuer adipiscin

		  elit. Aenean commodo ligula eget dolor. Aenean massa.
		  
		  Cum sociis natoque penatibus et magnis dis parturient
		  
		  montes, nascetur ridiculus mus. Donec quam felis, ultricies
		  
		  nec, pellentesque eu, pretium quis, sem. Nulla consequat
		  
		  massa quis enim........" data-url="#1">
		  
            <div class="d-block w-100" alt="First slide" style="height: 720px;background:#ECF5F5!important"></div>
          </div>
          <div class="carousel-item get_img" data-src="./assets/about_us_image_two.jpg" data-text_h1="Lorem ipsum dolor sit amet," data-p_all_text_set="Lorem ipsum dolor sit amet, consectetuer adipiscin

		  elit. Aenean commodo ligula eget dolor. Aenean massa.
		  
		  Cum sociis natoque penatibus et magnis dis parturient
		  
		  montes, nascetur ridiculus mus. Donec quam felis, ultricies
		  
		  nec, pellentesque eu, pretium quis, sem. Nulla consequat
		  
		  massa quis enim........" data-url="#2">
		  <div class="d-block w-100" alt="First slide" style="height: 720px;background:#ECF5F5!important"></div>
		</div>
          <div class="carousel-item get_img" data-src="./assets/about_us_image.jpg" data-text_h1="Lorem ipsum dolor sit amet," data-p_all_text_set="Lorem ipsum dolor sit amet, consectetuer adipiscin

		  elit. Aenean commodo ligula eget dolor. Aenean massa.
		  
		  Cum sociis natoque penatibus et magnis dis parturient
		  
		  montes, nascetur ridiculus mus. Donec quam felis, ultricies
		  
		  nec, pellentesque eu, pretium quis, sem. Nulla consequat
		  
		  massa quis enim........"  data-url="#3">
		  <div class="d-block w-100" alt="First slide" style="height: 720px;background:#ECF5F5!important"></div>
		</div>
        </div>
        <a class="carousel-control-prev left_right_click_new" href="#carouselExampleIndicators_new" role="button" data-slide="prev" style="right: auto;left: 55.5%;display: none;">
          <span class="carousel-control-prev-icon " aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next  left_right_click_new" href="#carouselExampleIndicators_new" role="button" data-slide="next">
          <span class="carousel-control-next-icon left_right_click_new_icon " aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
        <div class="row col-lg-5 featureSlider p-4" >
        
				<img src="./assets/about_us_image_two.jpg" class="img_change" style="width: 95%;"/>
          
</div>

<div class="row col-lg-5 featureSlider_left p-4" >
        
	<p class="p_all_text_set h1_text_set text-black">
		Lorem ipsum dolor sit amet,
	</p>
	<p class="p_all_text_set p_text_set text-black">
		Lorem ipsum dolor sit amet, consectetuer adipiscin

elit. Aenean commodo ligula eget dolor. Aenean massa.

Cum sociis natoque penatibus et magnis dis parturient

montes, nascetur ridiculus mus. Donec quam felis, ultricies

nec, pellentesque eu, pretium quis, sem. Nulla consequat

massa quis enim........
	</p>
	
	 
	 
  
</div>
      </div>
     
</section>

<app-footer> </app-footer>
